<footer>
    <div class="footer-container">
        <div class="brand">
            <h3 class="footer-brand">Ardawalika</h3>
        </div>
        <div class="layanan-kami">
            <ul>
                <li class="footer-title"><a href="#">Layanan Kami</a></li>
                <li><a href="#">Wedding</a></li>
                <li><a href="#">Family Gathering</a></li>
                <li><a href="#">Corporate Gathering</a></li>
            </ul>
        </div>
        <div class="tentang-kami">
            <ul>
                <li class="footer-title"><a href="#">Tentang Kami</a></li>
                <li><a href="#">Vendor</a></li>
                <li><a href="#">Galeri</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="alamat">
            <ul>
                <li class="footer-title"><a href="#">Alamat</a></li>
                <li><a href="#">Jl. Merdeka, Pasar Minggu <br>Jakarta Timur <br>+62 88123123123</a></li>
                <li class="footer-title temukan"><a href="#">Temukan Kami Di</a></li>
            </ul>
            <ul class="footer-logo">
                <li>
                    <a href="#"><img src="/img/instagram.svg" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="/img/facebook.svg" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="/img/whatsapp.svg" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
    <p>Copyright C 2022 by Ardawalika-</p>
</footer>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script>

    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 150) {
                $('.main-head').addClass("solid");
                $(".main-head ul").attr("id", "main-head-ul")
            } else {
                $('.main-head').removeClass("solid");
                $('#main-head-ul').removeAttr('id');
            }
        });
    });

    const dekorasi = document.querySelector(".dekorasi");
        const rias = document.querySelector(".rias")
        const katering = document.querySelector(".katering")
        const dokumentasi = document.querySelector(".documentation")
        const hiburan = document.querySelector(".hiburan")
        const mc = document.querySelector(".mc")

        const dekorasiDetail = document.querySelector(".paket-detail-dekorasi");
        const riasDetail = document.querySelector(".paket-detail-rias")
        const kateringDetail = document.querySelector(".paket-detail-katering")
        const dokumentasiDetail = document.querySelector(".paket-detail-documentation")
        const hiburanDetail = document.querySelector(".paket-detail-hiburan")
        const mcDetail = document.querySelector(".paket-detail-mc")
        const btn = document.querySelector("#toggle")

        dekorasi.onclick = () => {
            console.log("yaa")
            if (dekorasiDetail.style.display !== "none") {
                dekorasiDetail.style.display = "none"
            } else {
                dekorasiDetail.style.display = "block"
            }
        }

        rias.onclick = () => {
            if (riasDetail.style.display !== "none") {
                riasDetail.style.display = "none"
            } else {
                riasDetail.style.display = "block"
            }
        }

        katering.onclick = () => {
            console.log("yaa")
            if (kateringDetail.style.display !== "none") {
                kateringDetail.style.display = "none"
            } else {
                kateringDetail.style.display = "block"
            }
        }

        dokumentasi.onclick = () => {
            console.log("yaa")
            if (dokumentasiDetail.style.display !== "none") {
                dokumentasiDetail.style.display = "none"
            } else {
                dokumentasiDetail.style.display = "block"
            }
        }

        hiburan.onclick = () => {
            if (hiburanDetail.style.display !== "none") {
                hiburanDetail.style.display = "none"
            } else {
                hiburanDetail.style.display = "block"
            }
        }

        mc.onclick = () => {
            if (mcDetail.style.display !== "none") {
                mcDetail.style.display = "none"
            } else {
                mcDetail.style.display = "block"
            }
        }

</script>
</body>
</html>