<%- include('./header'); %>
<body>
  <header class="main-head">
    <nav>
      <h1 id="logo">Ardawalika</h1>
      <ul>
        <li><a href="/">Beranda</a></li>
        <div class="dropdown">
          <div class="tes">
            <li><a href="#">Paket</a></li>
            <img src="img/dropdown.png" alt="" id="image" class="image" />
          </div>
          <div class="dropdown-content" id="dropdown-content">
            <ul>
              <li><a href="/pakets/1">Paket Korporasi</a></li>
              <li><a href="/pakets/2">Paket Pernikahan</a></li>
              <li><a href="/pakets/3">Paket Keluarga</a></li>
            </ul>
          </div>
        </div>
        <li><a href="/dokumentasi">Dokumentasi</a></li>
        <li><a href="/tentang-kami">Tentang Kami</a></li>
      </ul>
      <% if (!user) { %>
        <div class="navbar-masuk">
          <a href="/login">
            <button class="navbar-masuk-button" onclick="">Masuk / Daftar</button>
          </a>
        </div>
      <% } else { %>
        <div class="navbar-masuk dropdown-user">
          <button class="dropdown" onclick=""><i class="fa fa-user-circle" aria-hidden="true"></i></i>
            <%= user.username %> 
          </button>
          <div class="dropdown-content" id="dropdown-content">
            <ul>
              <li><a href="/users/profile/ <%= user.id %> "><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a></li>
              <li><a href="/orders/history"><i class="fa fa-history" aria-hidden="true"></i> Riwayat Paket </a></li>
               <li><a href="/orders/historyCustom"><i class="fa fa-history" aria-hidden="true"></i> Riwayat Custom </a></li>
              <li><a href="/pakets/2"><i class="fa fa-cubes" aria-hidden="true"></i> Lacak Pesanan</a></li>
              <hr>
              <li><a href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
          </div>
        </div>
      <% } %>
    </nav>
  </header>
</body>
