<%- include('./header'); %>
<body>
<header class="main-head">
    <nav>
        <h1 id="logo">Ardawalika</h1>
        <ul>
            <li><a href="/">Beranda</a></li>
            <li><a href="#">Paket</a></li>
            <li><a href="/dokumentasi">Dokumentasi</a></li>
            <li><a href="/aboutus">Tentang Kami</a></li>
        </ul>
        <div class="navbar-masuk">
            <button class="navbar-masuk-button">Masuk / Daftar</button>
        </div>
    </nav>
</header>