<%- include('./partials/navbar-general'); %>

<!-- Hero Image -->
<div class="hero">
  <h1 class="hero__text">Tentang Kami</h1>
</div>

<!-- Wrapper -->
<div class="wrapper">
  <!-- About Ardawalika -->
  <section class="about-ardawalika">
    <h1 class="about-ardawalika__title">Ardawalika Organizer</h1>
    <p class="about-ardawalika__description">Ardawalika merupakan pilihan terbaik untuk kamu yang ingin mengadakan
      acara pernikahan, anniversary ataupun perayaan ulang tahun. Kami siap membantu dengan konsep event yang
      menarik sesuai dengan konsep yang tidak akan kamu lupakan di setiap detailnya. Kami akan mengkoordinasikan
      setiap rangkaian acara yang akan diselenggarakan dari awal hingga akhir acara. Kamu dapat memilih konsep acara
      sesuai impian kamu. Terdapat paket-paket lengkap yang dapat kamu pilih sesuai keinginanmu.</p>
  </section>

  <!-- Short Introduction -->
  <section class="short-introduction">
    <div class="short-introduction__box">
      <h1 class="short-introduction__total">10+</h1>
      <hr class="short-introduction__separator" />
      <p class="short-introduction__description">Tim <br>Profesional</p>
    </div>
    <div class="short-introduction__box">
      <h1 class="short-introduction__total">20+</h1>
      <hr class="short-introduction__separator" />
      <p class="short-introduction__description">Acara <br>Terselenggarakan</p>
    </div>
    <div class="short-introduction__box">
      <h1 class="short-introduction__total">20+</h1>
      <hr class="short-introduction__separator" />
      <p class="short-introduction__description">Pelanggan <br>Senang</p>
    </div>
  </section>

  <!-- Team Introduction -->
  <section class="team-introduction">
    <div class="team-introduction__image-caption">
      <img class="team-introduction__image" src="img/team.png">
      <p class="team-introduction__caption">Diamond Team <br>Promotor Ardawalika Organizer</p>
    </div>
    <p class="team-introduction__description">Kami telah berkecimpung di industri organizer selama 5 tahun. Diamond
      Team memantapkan tekad untuk merintis karir dan keberuntungan mereka bersama Ardawalika. Dengan pengalaman
      panjang yang telah mereka lalui, mereka yakin Ardawalika mampu mewujudkan event impian anda.</p>
  </section>

  <!-- FAQ -->
  <section class="faq">
    <h1 class="faq__title">FAQ</h1>
    <div class="faq__accordion">
      <div class="faq__accordion-item">
        <button class="faq__question">
          <p>Bagaimana cara mengubah jadwal pesanan yang sudah saya pesan?</p>
          <i class="faq__arrow fas fa-angle-down"></i>
        </button>
        <div class="faq__answer">Silahkan lakukan penjadwalan ulang paket pilihan kamu, lalu sesuaikan dengan
          kebutuhan
          kamu.</div>
      </div>
      <div class="faq__accordion-item">
        <button class="faq__question">
          <p>Apakah saya bisa mengubah beberapa layanan dari paket yang akan saya pesan?</p>
          <i class="faq__arrow fas fa-angle-down"></i>
        </button>
        <div class="faq__answer">Tentu saja bisa. Ardawalika menyediakan fitur kustomisasi bagi kamu yang ingin
          memesan layanan
          kami.</div>
      </div>
      <div class="faq__accordion-item">
        <button class="faq__question">
          <p>Bagaimana cara melakukan pemesanan layanan di Ardawalika Organizer?</p>
          <i class="faq__arrow fas fa-angle-down"></i>
        </button>
        <div class="faq__answer">Silahkan login terlebih dahulu, jika belum memiliki akun kamu dapat melakukan
          register terlebih dahulu.</div>
      </div>
      <div class="faq__accordion-item">
        <button class="faq__question">
          <p>Bagaimana cara mengetahui progress persiapan dari layanan yang sudah saya pesan?</p>
          <i class="faq__arrow fas fa-angle-down"></i>
        </button>
        <div class="faq__answer">Kamu dapat melihatnya di bagian Tracking Paket.
        </div>
      </div>
      <div class="faq__accordion-item">
        <button class="faq__question">
          <p>Apakah saya dapat melakukan pembayaran secara bertahap?</p>
          <i class="faq__arrow fas fa-angle-down"></i>
        </button>
        <div class="faq__answer">Mohon maaf, untuk saat ini Ardawalika hanya menyediakan pembayaran secara lunas.</div>
      </div>
      <div class="faq__accordion-item">
        <button class="faq__question">
          <p>Bagaimana cara menghubungi Customer Service Ardawalika?</p>
          <i class="faq__arrow fas fa-angle-down"></i>
        </button>
        <div class="faq__answer">Kamu dapat menghubungi kami melalui fitur chat atau sosial media yang
          telah disediakan.</div>
      </div>
      <div class="faq__accordion-item">
        <button class="faq__question">
          <p>Apakah saya dapat mengajukan pengembalian dana?</p>
          <i class="faq__arrow fas fa-angle-down"></i>
        </button>
        <div class="faq__answer">Mohon maaf, untuk dana yang sudah di transfer tidak dapat dikembalikan lagi.</div>
      </div>
    </div>
  </section>
</div>

<script src="accordion.js"></script>

<%- include('./partials/footer'); %>