<%- include('./partials/_navbar-home'); %>

<div class="wrapper-detail-transaksi">
  <!-- Header -->
  <div class="header">
    <!-- Title -->
    <div class="header__title">
      <h1 class="header__package-name">Paket Perfect Platinum</h1>
      <h1 class="header__order-code">#SAS0806</h1>
    </div>

    <!-- Button & Label -->
    <div class="header__button-and-label">
      <!-- Button -->
      <div class="header__button">
        <button class="header__button-service-track">Lacak Layanan</button>
        <input type="date" name="ubahTanggal" id="ubah-tanggal" class="header__choose-date"
          placeholder="Ubah Tanggal" data-input>
      </div>
      <!-- Label -->
      <p class="header__reminder-label">Kamu masih dapat mengubah tanggal hingga 16 Desember 2021</p>
    </div>
  </div>

  <!-- Customer & Order Details -->
  <section class="customer-order">

    <!-- Detail Pelanggan -->
    <div class="customer-order__customer-details">
      <button class="customer-order__info">
        <p class="customer-order__item">Detail Pelanggan</p>
        <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
      </button>
      <div class="customer-order__customer-details-description">
        <table>
          <tr>
            <td width="124">Nama</td>
            <td>:</td>
            <td>Angeli</td>
          </tr>
          <tr>
            <td width="124">Email</td>
            <td>:</td>
            <td>emailkamu@email.com</td>
          </tr>
          <tr>
            <td width="124">Alamat</td>
            <td>:</td>
            <td>Jalan Jalak Bali 20 No. 4, Desa Burung, Kecamatan Langka, Kodepos 88800</td>
          </tr>
          <tr>
            <td width="124">Nomor HP</td>
            <td>:</td>
            <td>08123456789</td>
          </tr>
          <tr>
            <td width="124">Tanggal Acara</td>
            <td>:</td>
            <td>6 Januari 2022</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Detail Pesanan -->
    <div class="customer-order__order-details">
      <button class="customer-order__info">
        <p class="customer-order__item">Detail Pesanan</p>
        <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
      </button>
      <div class="customer-order__order-details-description">
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item">Dekorasi Platinum</p>
            <p class="customer-order__price">Rp22.000.000</p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
            <p class="customer-order__description-item-1">Dekorasi Pelaminan maks 10 meter</p>
            <p class="customer-order__description-item-2">Teman Pelaminan (Fresh Flower & Artificial)</p>
            <p class="customer-order__description-item-3">1 Set meja & kursi Akad</p>
            <p class="customer-order__description-item-4">1 Backdrop Music</p>
            <p class="customer-order__description-item-5">1 Spot Galeri Foto</p>
            <p class="customer-order__description-item-6">1 Spot Photobooth</p>
            <p class="customer-order__description-item-7">6 Pilar jalan & Karpet jalan</p>
            <p class="customer-order__description-item-8">3 Gate lengkung/kotak</p>
            <p class="customer-order__description-item-9">1 Pergola masuk 3 x 4 meter</p>
            <p class="customer-order__description-item-10">2 Meja penerima tamu & kotak angpau</p>
            <p class="customer-order__description-item-11">Welcome sign</p>
          </div>
        </div>
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item">Rias Platinum</p>
            <p class="customer-order__price">Rp23.000.000</p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
            <p class="customer-order__description-item-1">Dekorasi Pelaminan maks 10 meter</p>
            <p class="customer-order__description-item-2">Teman Pelaminan (Fresh Flower & Artificial)</p>
            <p class="customer-order__description-item-3">1 Set meja & kursi Akad</p>
            <p class="customer-order__description-item-4">1 Backdrop Music</p>
            <p class="customer-order__description-item-5">1 Spot Galeri Foto</p>
            <p class="customer-order__description-item-6">1 Spot Photobooth</p>
            <p class="customer-order__description-item-7">6 Pilar jalan & Karpet jalan</p>
            <p class="customer-order__description-item-8">3 Gate lengkung/kotak</p>
            <p class="customer-order__description-item-9">1 Pergola masuk 3 x 4 meter</p>
            <p class="customer-order__description-item-10">2 Meja penerima tamu & kotak angpau</p>
            <p class="customer-order__description-item-11">Welcome sign</p>
          </div>
        </div>
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item">Katering Platinum</p>
            <p class="customer-order__price">Rp33.000.000</p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
            <p class="customer-order__description-item-1">Dekorasi Pelaminan maks 10 meter</p>
            <p class="customer-order__description-item-2">Teman Pelaminan (Fresh Flower & Artificial)</p>
            <p class="customer-order__description-item-3">1 Set meja & kursi Akad</p>
            <p class="customer-order__description-item-4">1 Backdrop Music</p>
            <p class="customer-order__description-item-5">1 Spot Galeri Foto</p>
            <p class="customer-order__description-item-6">1 Spot Photobooth</p>
            <p class="customer-order__description-item-7">6 Pilar jalan & Karpet jalan</p>
            <p class="customer-order__description-item-8">3 Gate lengkung/kotak</p>
            <p class="customer-order__description-item-9">1 Pergola masuk 3 x 4 meter</p>
            <p class="customer-order__description-item-10">2 Meja penerima tamu & kotak angpau</p>
            <p class="customer-order__description-item-11">Welcome sign</p>
          </div>
        </div>
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item">Dokumentasi Platinum</p>
            <p class="customer-order__price">Rp13.000.000</p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
            <p class="customer-order__description-item-1">Dekorasi Pelaminan maks 10 meter</p>
            <p class="customer-order__description-item-2">Teman Pelaminan (Fresh Flower & Artificial)</p>
            <p class="customer-order__description-item-3">1 Set meja & kursi Akad</p>
            <p class="customer-order__description-item-4">1 Backdrop Music</p>
            <p class="customer-order__description-item-5">1 Spot Galeri Foto</p>
            <p class="customer-order__description-item-6">1 Spot Photobooth</p>
            <p class="customer-order__description-item-7">6 Pilar jalan & Karpet jalan</p>
            <p class="customer-order__description-item-8">3 Gate lengkung/kotak</p>
            <p class="customer-order__description-item-9">1 Pergola masuk 3 x 4 meter</p>
            <p class="customer-order__description-item-10">2 Meja penerima tamu & kotak angpau</p>
            <p class="customer-order__description-item-11">Welcome sign</p>
          </div>
        </div>
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item">Hiburan Platinum</p>
            <p class="customer-order__price">Rp30.000.000</p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
            <p class="customer-order__description-item-1">Dekorasi Pelaminan maks 10 meter</p>
            <p class="customer-order__description-item-2">Teman Pelaminan (Fresh Flower & Artificial)</p>
            <p class="customer-order__description-item-3">1 Set meja & kursi Akad</p>
            <p class="customer-order__description-item-4">1 Backdrop Music</p>
            <p class="customer-order__description-item-5">1 Spot Galeri Foto</p>
            <p class="customer-order__description-item-6">1 Spot Photobooth</p>
            <p class="customer-order__description-item-7">6 Pilar jalan & Karpet jalan</p>
            <p class="customer-order__description-item-8">3 Gate lengkung/kotak</p>
            <p class="customer-order__description-item-9">1 Pergola masuk 3 x 4 meter</p>
            <p class="customer-order__description-item-10">2 Meja penerima tamu & kotak angpau</p>
            <p class="customer-order__description-item-11">Welcome sign</p>
          </div>
        </div>
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item">MC Platinum</p>
            <p class="customer-order__price">Rp9.000.000</p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
            <p class="customer-order__description-item-1">Dekorasi Pelaminan maks 10 meter</p>
            <p class="customer-order__description-item-2">Teman Pelaminan (Fresh Flower & Artificial)</p>
            <p class="customer-order__description-item-3">1 Set meja & kursi Akad</p>
            <p class="customer-order__description-item-4">1 Backdrop Music</p>
            <p class="customer-order__description-item-5">1 Spot Galeri Foto</p>
            <p class="customer-order__description-item-6">1 Spot Photobooth</p>
            <p class="customer-order__description-item-7">6 Pilar jalan & Karpet jalan</p>
            <p class="customer-order__description-item-8">3 Gate lengkung/kotak</p>
            <p class="customer-order__description-item-9">1 Pergola masuk 3 x 4 meter</p>
            <p class="customer-order__description-item-10">2 Meja penerima tamu & kotak angpau</p>
            <p class="customer-order__description-item-11">Welcome sign</p>
          </div>
        </div>
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item">Tambahan</p>
            <p class="customer-order__price">Rp0</p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
            <p class="customer-order__description-item-1">Dekorasi Pelaminan maks 10 meter</p>
            <p class="customer-order__description-item-2">Teman Pelaminan (Fresh Flower & Artificial)</p>
            <p class="customer-order__description-item-3">1 Set meja & kursi Akad</p>
            <p class="customer-order__description-item-4">1 Backdrop Music</p>
            <p class="customer-order__description-item-5">1 Spot Galeri Foto</p>
            <p class="customer-order__description-item-6">1 Spot Photobooth</p>
            <p class="customer-order__description-item-7">6 Pilar jalan & Karpet jalan</p>
            <p class="customer-order__description-item-8">3 Gate lengkung/kotak</p>
            <p class="customer-order__description-item-9">1 Pergola masuk 3 x 4 meter</p>
            <p class="customer-order__description-item-10">2 Meja penerima tamu & kotak angpau</p>
            <p class="customer-order__description-item-11">Welcome sign</p>
          </div>
        </div>
        <hr class="customer-order__total-price-separator">
        <div class="customer-order__total-price-item">
          <p class="customer-order__item">Total Bayar</p>
          <p class="customer-order__total-price">Rp130.000.000</p>
        </div>
      </div>
    </div>

  </section>
</div>

<!-- Accordion -->
<script src="accordion_transaction-detail.js"></script>
<!-- Flatpickr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
<script>
  $("#ubah-tanggal").flatpickr({
    enableTime: true,
    dateFormat: "F, d Y - H:i"
  });
</script>

<%- include('./partials/footer'); %>