<%- include('./partials/navbar-home'); %>

  <div class="wrapper-detail-tracking">
    <!-- Title -->
    <div class="title">
      <h1 class="title__package-name">Paket Perfect Platinum</h1>
      <h1 class="title__order-code">#SAS0806</h1>
    </div>
    <h4 class="mini-title">Pelacakan Layanan</h4>
    <div class="card">
      <div class="card__item">
        <div class="card__category-item-name">
          <p class="card__category-item-name__category">Souvenir</p>
          <h2 class="card__category-item-name__item-name">Souvenir</h2>
        </div>
        <div class="card__date-time">
          <p class="card__date-time__date">20 Maret 2022</p>
          <p class="card__date-time__time">10:00 WIB</p>
        </div>
        <p class="card__notes">Halo Angeli, Souvenir sudah sampai pihak keluarga, terima kasih sudah menggunakan layanan
          kami.</p>
        <div class="card__images">
          <img src="./assets/img/img_card-item_1.png" class="card__images__image-item">
        </div>
      </div>
      <div class="card__item">
        <div class="card__category-item-name">
          <p class="card__category-item-name__category">Dekorasi</p>
          <h2 class="card__category-item-name__item-name">Perancangan Dekorasi</h2>
        </div>
        <div class="card__date-time">
          <p class="card__date-time__date">20 Maret 2022</p>
          <p class="card__date-time__time">16:00 WIB</p>
        </div>
        <p class="card__notes">Halo Angeli, Pemasangan dekorasi sedang dalam proses, terima kasih sudah menggunakan
          layanan kami.</p>
        <div class="card__images">
          <img src="./assets/img/img_card-item_2-1.png" class="card__images__image-item">
          <img src="./assets/img/img_card-item_2-2.png" class="card__images__image-item">
        </div>
      </div>
      <div class="card__item">
        <div class="card__category-item-name">
          <p class="card__category-item-name__category">Katering</p>
          <h2 class="card__category-item-name__item-name">Pembuatan Katering</h2>
        </div>
        <div class="card__date-time">
          <p class="card__date-time__date">19 Maret 2022</p>
          <p class="card__date-time__time">10:00 WIB</p>
        </div>
        <p class="card__notes">Halo Angeli, pemasakan masakan untuk katering sedang dalam proses, terima kasih.</p>
        <div class="card__images">
          <img src="./assets/img/img_card-item_3-1.png" class="card__images__image-item">
          <img src="./assets/img/img_card-item_3-2.png" class="card__images__image-item">
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer'); %>