<%- include('./partials/navbar-general'); %>
<section class="dokumentasi-filler"></section>
<section class="dokumentasi-paket">
    <div class="dokumentasi-paket__keterangan">
    <div class="dokumentasi-paket__gallery">
        <img class="gallery1"
            src="https://ik.imagekit.io/ardawalika/Detail_Dokumentasi/detail3__hrG-NUC3.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646819022896"
            alt="man in black suit" />
        <img class="gallery2"
            src="https://ik.imagekit.io/ardawalika/Detail_Dokumentasi/detail5_91szjUysh27a.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646819023697"
            alt="man in black suit" />
        <img class="gallery3"
            src="https://ik.imagekit.io/ardawalika/Detail_Dokumentasi/detail2_mo_w0WMPP.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646819015691"
            alt="man in black suit" />
        <img class="gallery4"
            src="https://ik.imagekit.io/ardawalika/Detail_Dokumentasi/detail_GJ8KcFuQG.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646818929606"
            alt="man in black suit" />
    </div>
    <div class="dokumentasi-paket__gallery2">
        <img class="gallery5"
            src="https://ik.imagekit.io/ardawalika/Detail_Dokumentasi/detail5_91szjUysh27a.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646819023697"
            alt="man in black suit" />
        <img class="gallery6"
            src="https://ik.imagekit.io/ardawalika/Detail_Dokumentasi/detail4_eT5UiZydY.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646819490694"
            alt="man in black suit" />
        <img class="gallery7"
            src="https://ik.imagekit.io/ardawalika/Detail_Dokumentasi/detail6_aa6rmzymV.png?ik-sdk-version=javascript-1.4.3&updatedAt=1646819577799"
            alt="man in black suit" />
    </div>
</section>
<%- include('./partials/footer'); %>