<%- include('./partials/navbar-general'); %>

<section class="dokumentasi-filler"></section>
<section class="dokumentasi">
    <div class="dokumentasi-card">
        <div class="dokumentasi-card-img img1" id="dokumentasi-img1">
        </div>
        <div class="dokumentasi-card-txt">
            <h2 class="">James & Christine</h2>
            <h4 class="tanggal">Senin, 28 Januari 2022</h4>
            <p>Pernikahan dengan konsep outdoor yang dihadari oleh keluarga dan kerabat dekat. Pernikahan James dan
                Crtistine ini
                dilaksanakan di Bali dengan dihadiri 200 orang dan menerapkan pembagian sesi waktu undangan saat
                akad dan resepsi,
                dengan segala sesuatunya yang tetap mengikuti protokol kesehatan.
            </p>
        </div>
    </div>
    <div class="dokumentasi-card">
        <div class="dokumentasi-card-img img2" id="dokumentasi-img2">
        </div>
        <div class="dokumentasi-card-txt">
            <h2 class="">Jhons Family Gathering</h2>
            <h4 class="tanggal">Senin, 28 Januari 2022</h4>
            <p>
                Pernikahan dengan konsep outdoor yang dihadari oleh keluarga dan kerabat dekat. Pernikahan James dan
                Crtistine ini
                dilaksanakan di Bali dengan dihadiri 200 orang dan menerapkan pembagian sesi waktu undangan saat
                akad dan resepsi,
                dengan segala sesuatunya yang tetap mengikuti protokol kesehatan.
            </p>
        </div>
    </div>

        <p class="showDoc"></p>
            <!-- <div id="selengkapnya"> -->
                <div class="dokumentasi-card-filler below"></div>
                <div class="dokumentasi-card below" id="xeratic">
                    <div class="dokumentasi-card-img img3">
                    </div>
                    <div class="dokumentasi-card-txt">
                        <h2>Seminar PT Xeratic</h2>
                        <h4 class="tanggal">Senin, 28 Januari 2022</h4>
                        <p>
                            Seminar PT Xeratic di Hotel Trans Studio Bandung di hadiri oleh Startup - startup ternama dari
                            Indonesia. Seminar ini di
                            hadiri 500 orang dan menerapkan protokol kesehatan.
                        </p>
                    </div>
                </div>
                <div class="dokumentasi-card below">
                    <div class="dokumentasi-card-img img4">
                    </div>
                    <div class="dokumentasi-card-txt">
                        <h2 class="">Ulang Tahun Genie</h2>
                        <h4 class="tanggal">Senin, 28 Januari 2022</h4>
                        <p>
                            Ulang tahun dengan konsep yang mewah dan elegen dihadari oleh keluarga dan kerabat dekat. Ulang
                            tahun Genie ini
                            dilaksanakan di Ball Room Buah Batu dengan dihadiri 200 orang dan dengan segala sesuatunya yang
                            tetap mengikuti protokol
                            kesehatan.
                        </p>
                    </div>
                </div>
                <div class="dokumentasi-card below">
                    <div class="dokumentasi-card-img img5">
                    </div>
                    <div class="dokumentasi-card-txt">
                        <h2 class="">Michael & Yumi</h2>
                        <h4 class="tanggal">Senin, 28 Januari 2022</h4>
                        <p>
                            Pernikahan dengan konsep outdoor yang dihadari oleh keluarga dan kerabat dekat. Pernikahan James dan
                            Crtistine ini
                            dilaksanakan di Bali dengan dihadiri 200 orang dan menerapkan pembagian sesi waktu undangan saat
                            akad dan resepsi,
                            dengan segala sesuatunya yang tetap mengikuti protokol kesehatan.
                        </p>
                    </div>
                </div>
            <!-- </div> -->
</section>

<%- include('./partials/footer'); %>