<footer>
    <div class="footer-container">
        <div class="footer-ardawalika">
            <h3>Ardawalika</h3>
            <p>Temukan kami di</p>
            <div class="footer-logo">
                <ul>
                    <li>
                        <a href="#"><img src="/img/instagram.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/img/youtube.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/img/instagram.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/img/youtube.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/img/instagram.svg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-menu">
            <div class="footer-menu-left">
                <ul>
                    <li><a href="#">Beranda</a></li>
                    <li><a href="#">Paket</a></li>
                    <li><a href="#">Paket</a></li>
                </ul>
            </div>
            <div class="footer-menu-right">
            <ul>
                <li><a href="#">Galeri</a></li>
                <li><a href="#">Cek Progress</a></li>
                <li><a href="#">Tentang Kami</a></li>
            </ul>
            </div>
        </div>
    </div>
</footer>

</html>