<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap" rel="stylesheet">

</head>

<body>
    <div>
        <header class="main-head">
            <nav>
                <h1 id="logo">Ardawalika</h1>
                <ul>
                    <li><a href="#">Beranda</a></li>
                    <li><a href="#">Paket</a></li>
                    <li><a href="#">Dokumentasi</a></li>
                    <li><a href="#">Tentang Kami</a></li>
                </ul>
                <button>Masuk</button>
            </nav>
        </header>
