<%- include('./partials/header'); %>

        <section class="home">
            <div class="home-top">
                <h1 class="logo">Ardawalika</h1>
                <h4>Event Organizer</h4>
            </div>
            <div class="home-cards">
                <div class="kartu kartu-1">
                    <p>Corporate Events</p>
                </div>
                <div class="kartu kartu-2">
                    <p>Wedding Events</p>
                </div>
                <div class="kartu kartu-3">
                    <p>Family Events</p>
                </div>
            </div>
        </section>

<%- include('./partials/footer'); %>