<%- include('./partials/header'); %>

        <section class="home">
            <div class="home-top">
                <h1 class="logo">Ardawalika</h1>
                <h4>Event Organizer</h4>
            </div>
            <div class="home-cards">
                <div class="kartu kartu-1">
                    <p>Corporate Events</p>
                </div>
                <div class="kartu kartu-2">
                    <p>Wedding Events</p>
                </div>
                <div class="kartu kartu-3">
                    <p>Family Events</p>
                </div>
            </div>
        </section>

        <section class="hasil">
            <h3>Hasil Kerja Kami</h3>
            <div class="hasil-cards">
                <div class="kartu hasil-1">
                </div>
                <div class="kartu hasil-2">
                </div>
                <div class="kartu hasil-3">
                </div>
                <div class="kartu hasil-4">
                </div>
                <div class="kartu hasil-5">
                </div>
                <div class="kartu hasil-6">
                </div>
            </div>
        </section>
        
        <section class="testimoni">
            <h3>Apa Kata Klien Kami</h3>
            <div class="testimoni-cards">
                <div class="kartu">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut explicabo fugit, quam tempora sed
                        aspernatur! Quisquam fugiat fugit nostrum consequuntur ea minima inventore nesciunt sapiente voluptatum
                        culpa cum, consequatur corrupti?</p>
                </div>
                <div class="kartu">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut explicabo fugit, quam tempora sed
                        aspernatur!
                        Quisquam fugiat fugit nostrum consequuntur ea minima inventore nesciunt sapiente voluptatum culpa cum,
                        consequatur corrupti?</p>
                </div>
                <div class="kartu">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut explicabo fugit, quam tempora sed
                        aspernatur!
                        Quisquam fugiat fugit nostrum consequuntur ea minima inventore nesciunt sapiente voluptatum culpa cum,
                        consequatur corrupti?</p>
                </div>
                <div class="kartu">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut explicabo fugit, quam tempora sed
                        aspernatur!
                        Quisquam fugiat fugit nostrum consequuntur ea minima inventore nesciunt sapiente voluptatum culpa cum,
                        consequatur corrupti?</p>
                </div>
            </div>
        </section>

<%- include('./partials/footer'); %>