<%- include('./partials/header'); %>

            <section class="home">
                <div class="home-top">
                    <h1 class="logo">Ardawalika</h1>
                    <h4>Event Organizer</h4>
                </div>
            </section>
            
            <section class="paket">
                <h3>Paket</h3>
                <div class="paket-cards row">
                    <div class="kartu">
                        <img src="/img/img2.jpg" style="width:100%">
                        <div class="container">
                            <h4>Corporate Events</h4>
                            <button>Pesan Sekarang</button>
                        </div>
                    </div>
                    <div class="kartu">
                        <img src="/img/img1.jpg"  style="width:100%">
                        <div class="container">
                            <h4>Wedding Events</h4>
                            <button>Pesan Sekarang</button>
                        </div>
                    </div>
                    <div class="kartu">
                        <img src="/img/tes10.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4>Family Events</h4>
                            <button>Pesan Sekarang</button>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="hasil">
                <h3>Galeri</h3>
                <div class="hasil-cards">
                    <div class="kartu hasil-1">
                    </div>
                    <div class="kartu hasil-2">
                    </div>
                    <div class="kartu hasil-3">
                    </div>
                    <div class="kartu hasil-4">
                    </div>
                    <div class="kartu hasil-5">
                    </div>
                    <div class="kartu hasil-6">
                    </div>
                </div>
            </section>
            
            <section class="testimoni">
                <h3>Kata Mereka</h3>
                <div class="testimoni-cards">
                    <div class="kartu">
                        <div class="circle">
                            <img src="/img/img1.jpg" style="width:100%">
                        </div>
                        <div class="container">
                            <h4>John Doe</h4>
                            <p>Lorem ipsum dolor sit amet adipisicing elit. Officiis aliquid nulla. Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
            
                    <div class="kartu">
                        <div class="circle">
                            <img src="/img/img2.jpg" style="width:100%">
                        </div>
                        <div class="container">
                            <h4>Jane Doe</h4>
                            <p>Lorem ipsum doadsflor sit Lorem ipsum dolor sit amet. amet adipisicing elit. Officiis aliquid nulla.
                                Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </section>

<%- include('./partials/footer'); %>