<%- include('./partials/navbar'); %>
<!-- HERO SECTION -->
<section class="hero">
  <div class="hero__text">
    <h1>Ciptakan Kehangatan dari Setiap Momen Berharga </h1>
    <p>Ardawalika menjadi pilihan yang tepat untuk mewujudkan setiap kebersamaan dengan keluarga. Menjadikan moment yang terbaik dan tak terlupakan.</p>
  </div>
  <div class="hero__img">
    <img src="./img/kel_hero2.png" alt="hero2" />
  </div>
</section>

<!-- SERVICES SECTION-->
<div class="wrapper">
  <section class="service">
    <h1 class="service__title">Spesialisasi Layanan</h1>
    <p class="service__subtitle">- Full D-Day Service -</p>
  </section>
</div>

<!--ITEM ICON SECTION-->
<div class="grey">
  <div class="wrapper">
    <section class="item">
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-1.svg" />
        <p class="item__text">Perancangan konsep dan tema kegiatan</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-2.svg" />
        <p class="item__text">Pembuatan rundown kegiatan acara yang akan dilaksanakan</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-3.svg" />
        <p class="item__text">Mengatur dan membuat timeline acara</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-4.svg" />
        <p class="item__text">Merancang technical meeting dangan pihak keluarga</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-5.svg" />
        <p class="item__text">Persiapan dan pembuatan dekorasi acara</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-6.svg" />
        <p class="item__text">Mengatur urusan multemedia dan dokumentasi</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-7.svg" />
        <p class="item__text">Produksi (Kupon, Panggung, Branding Kit, Booth, Tenda, Kursi, dll)</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-8.svg" />
        <p class="item__text">Mengatur segala urusan konsumsi dan catering</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-9.svg" />
        <p class="item__text">Mengorganisir jalannya acara kegiatan</p>
      </div>
    </section>
  </div>
</div>

<!--SERVICE SECTION-->
<section class="service">
  <h1 class="service__title">Paket Keluarga</h1>
</section>

<!-- CARD WEDDING SECTION -->
<div class="wrapper">
  <section class="wedding">
    <div class="wedding__flex">
      <div class="wedding__card">
        <img class="wedding__image" src="./img/kel_card1.png" alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title">Ulang tahun</div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2">Paket lengkap untuk merayakan ulang tahun bersama dengan kerabat terdekat.</div>
          <div class="wedding__box3">
            <div class="wedding__price">Rp. 10.000.000</div>
            <div class="wedding__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
      <div class="wedding__card">
        <img class="wedding__image" src="./img/kel_card2.png" alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title">Reuni Keluarga</div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2">Paket All In terbaik untuk menjalin silaturahmi antar keluarga besar dengan konsep menarik dan meriah.</div>
          <div class="wedding__box3">
            <div class="wedding__price">Rp. 25.000.000</div>
            <div class="wedding__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('./partials/footer'); %>
