<%- include('./partials/navbar-general'); %>
<!-- HERO SECTION -->
<section class="keluarga-filler"></section>
<section class="herokel">
  <div class="herokel__text">
    <h1>Ciptakan Kehangatan dari Setiap Momen Berharga </h1>
    <p>Ardawalika menjadi pilihan yang tepat untuk mewujudkan setiap kebersamaan dengan keluarga. Menjadikan moment yang terbaik dan tak terlupakan.</p>
  </div>
  <div class="herokel__img">
    <img src="./img/kel_hero2.png" alt="hero2" />
  </div>
</section>

<!-- SERVICES SECTION-->
<div class="wrapperkel">
  <section class="servicekel">
    <h1 class="servicekel__title">Spesialisasi Layanan</h1>
    <p class="servicekel__subtitle">- Full D-Day Service -</p>
  </section>
</div>

<!--ITEM ICON SECTION-->
<div class="greykel">
  <div class="wrapperkel">
    <section class="itemkel">
      <div class="itemkel__box">
        <img class="itemkel__image" src="./img/kel_icon-1.svg" />
        <p class="itemkel__text">Perancangan konsep dan tema kegiatan</p>
      </div>
      <div class="itemkel__box">
        <img class="itemkel__image" src="./img/kel_icon-2.svg" />
        <p class="itemkel__text">Pembuatan rundown kegiatan acara yang akan dilaksanakan</p>
      </div>
      <div class="itemkel__box">
        <img class="itemkel__image" src="./img/kel_icon-3.svg" />
        <p class="itemkel__text">Mengatur dan membuat timeline acara</p>
      </div>
      <div class="itemkel__box">
        <img class="itemkel__image" src="./img/kel_icon-4.svg" />
        <p class="itemkel__text">Merancang technical meeting dangan pihak keluarga</p>
      </div>
      <div class="itemkel__box">
        <img class="itemkel__image" src="./img/kel_icon-5.svg" />
        <p class="itemkel__text">Persiapan dan pembuatan dekorasi acara</p>
      </div>
      <div class="itemkel__box">
        <img class="itemkel__image" src="./img/kel_icon-6.svg" />
        <p class="itemkel__text">Mengatur urusan multemedia dan dokumentasi</p>
      </div>
      <div class="itemkel__box">
        <img class="itemkel__image" src="./img/kel_icon-7.svg" />
        <p class="itemkel__text">Produksi (Kupon, Panggung, Branding Kit, Booth, Tenda, Kursi, dll)</p>
      </div>
      <div class="itemkel__box">
        <img class="itemkel__image" src="./img/kel_icon-8.svg" />
        <p class="itemkel__text">Mengatur segala urusan konsumsi dan catering</p>
      </div>
      <div class="itemkel__box">
        <img class="itemkel__image" src="./img/kel_icon-9.svg" />
        <p class="itemkel__text">Mengorganisir jalannya acara kegiatan</p>
      </div>
    </section>
  </div>
</div>

<!--SERVICE SECTION-->
<section class="servicekel">
  <h1 class="servicekel__title">Paket Keluarga</h1>
</section>

<!-- CARD WEDDING SECTION -->
<div class="wrapperkel">
  <section class="keluarga">
    <div class="keluarga__flex">
      <div class="keluarga__card">
        <img class="keluarga__image" src="./img/kel_card1.png" alt="bronze" />
        <div class="keluarga__content">
          <div class="keluarga__box1">
            <div class="keluarga__title">Ulang tahun</div>
            <div class="keluarga__star">★★★★★</div>
          </div>
          <div class="keluarga__box2">Paket lengkap untuk merayakan ulang tahun bersama dengan kerabat terdekat.</div>
          <div class="keluarga__box3">
            <div class="keluarga__price">Rp. 10.000.000</div>
            <div class="keluarga__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
      <div class="keluarga__card">
        <img class="keluarga__image" src="./img/kel_card2.png" alt="bronze" />
        <div class="keluarga__content">
          <div class="keluarga__box1">
            <div class="keluarga__title">Reuni Keluarga</div>
            <div class="keluarga__star">★★★★★</div>
          </div>
          <div class="keluarga__box2">Paket All In terbaik untuk menjalin silaturahmi antar keluarga besar dengan konsep menarik dan meriah.</div>
          <div class="keluarga__box3">
            <div class="keluarga__price">Rp. 25.000.000</div>
            <div class="keluarga__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('./partials/footer'); %>
