<%- include('./partials/navbar'); %>
<!-- HERO SECTION -->
<section class="hero">
  <div class="hero__text">
    <h1>Ciptakan Kebersamaan Berbagi Pengalaman</h1>
    <p>Ardawalika Organizer siap membantu  menyelenggarakan berbagai event - event perusahaan sesuai dengan keinginan Perusahaan. Kami mampu merealisasikan keinginan Anda secara professional untuk kepuasan perusahaan Anda.</p>
  </div>
  <div class="hero__img">
    <img src="./img/kor_hero2.png" alt="hero2" />
  </div>
</section>

<!-- SERVICES SECTION-->
<div class="wrapper">
  <section class="service">
    <h1 class="service__title">Spesialisasi Layanan</h1>
    <p class="service__subtitle">- Full D-Day Service -</p>
  </section>
</div>

<!--ITEM ICON SECTION-->
<div class="grey">
  <div class="wrapper">
    <section class="item">
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-1.svg" />
        <p class="item__text">Perancangan konsep dan tema kegiatan</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-2.svg" />
        <p class="item__text">Pembuatan rundown acara dari pembukaan hingga penutup</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-3.svg" />
        <p class="item__text">Technical meeting secara berkala dengan perusahaan. </p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-4.svg" />
        <p class="item__text">Persiapan produksi (Panggung, Backdrop, Booth, Branding Kit)</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-5.svg" />
        <p class="item__text">Pembuatan Undangan dan Dekorasi acara</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-6.svg" />
        <p class="item__text"> Mengatur urusan multemidia dan dokumentasi</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-7.svg" />
        <p class="item__text">Mengatur dan membuat timeline acara.</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-8.svg" />
        <p class="item__text">Tim IT support yang membantu teknis pelaksanaan acara.</p>
      </div>
      <div class="item__box">
        <img class="item__image" src="./img/wed_icon-9.svg" />
        <p class="item__text">Mengorganisir jalannya acara perusahaan.</p>
      </div>
    </section>
  </div>
</div>

<!--SERVICE SECTION-->
<section class="service">
  <h1 class="service__title">Paket Korporasi</h1>
</section>

<!-- CARD WEDDING SECTION -->
<div class="wrapper">
  <section class="wedding">
    <div class="wedding__flex">
      <div class="wedding__card">
        <img class="wedding__image" src="./img/kor_card1.png" alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title">Anniversary </div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2">Paket lengkap dengan konsep unik untuk rayakan anniversary perusahaan kamu.</div>
          <div class="wedding__box3">
            <div class="wedding__price">Rp. 70.000.000</div>
            <div class="wedding__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
      <div class="wedding__card">
        <img class="wedding__image" src="./img/kor_card2.png" alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title">Seminar</div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2">Paket lengkap mulai dari pembuatan konsep acara, brosur acara hingga teknis pelaksanaan. </div>
          <div class="wedding__box3">
            <div class="wedding__price">Rp. 20.000.000</div>
            <div class="wedding__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('./partials/footer'); %>
