<%- include('./partials/navbar-general'); %>
<!-- HERO SECTION -->
<section class="herokor">
  <div class="herokor__text">
    <h1>Ciptakan Kebersamaan Berbagi Pengalaman</h1>
    <p>Ardawalika Organizer siap membantu menyelenggarakan berbagai event - event perusahaan sesuai dengan keinginan Perusahaan. Kami mampu merealisasikan keinginan Anda secara professional untuk kepuasan perusahaan Anda.</p>
  </div>
  <div class="herokor__img">
    <img src="./img/kor_hero2.png" alt="hero2" />
  </div>
</section>

<!-- SERVICES SECTION-->
<div class="wrapperkor">
  <section class="servicekor">
    <h1 class="servicekor__title">Spesialisasi Layanan</h1>
    <p class="servicekor__subtitle">- Full D-Day Service -</p>
  </section>
</div>

<!--ITEM ICON SECTION-->
<div class="greykor">
  <div class="wrapperkor">
    <section class="itemkor">
      <div class="itemkor__box">
        <img class="itemkor__image" src="./img/kor_icon-1.svg" />
        <p class="itemkor__text">Perancangan konsep dan tema kegiatan</p>
      </div>
      <div class="itemkor__box">
        <img class="itemkor__image" src="./img/kor_icon-2.svg" />
        <p class="itemkor__text">Pembuatan rundown acara dari pembukaan hingga penutup</p>
      </div>
      <div class="itemkor__box">
        <img class="itemkor__image" src="./img/kor_icon-3.svg" />
        <p class="itemkor__text">Technical meeting secara berkala dengan perusahaan.</p>
      </div>
      <div class="itemkor__box">
        <img class="itemkor__image" src="./img/kor_icon-4.svg" />
        <p class="itemkor__text">Persiapan produksi (Panggung, Backdrop, Booth, Branding Kit)</p>
      </div>
      <div class="itemkor__box">
        <img class="itemkor__image" src="./img/kor_icon-5.svg" />
        <p class="itemkor__text">Pembuatan Undangan dan Dekorasi acara</p>
      </div>
      <div class="itemkor__box">
        <img class="itemkor__image" src="./img/kor_icon-6.svg" />
        <p class="itemkor__text">Mengatur urusan multemidia dan dokumentasi</p>
      </div>
      <div class="itemkor__box">
        <img class="itemkor__image" src="./img/kor_icon-7.svg" />
        <p class="itemkor__text">Mengatur dan membuat timeline acara.</p>
      </div>
      <div class="itemkor__box">
        <img class="itemkor__image" src="./img/kor_icon-8.svg" />
        <p class="itemkor__text">Tim IT support yang membantu teknis pelaksanaan acara.</p>
      </div>
      <div class="itemkor__box">
        <img class="itemkor__image" src="./img/kor_icon-9.svg" />
        <p class="itemkor__text">Mengorganisir jalannya acara perusahaan.</p>
      </div>
    </section>
  </div>
</div>

<!--SERVICE SECTION-->
<section class="servicekor">
  <h1 class="servicekor__title">Paket Korporasi</h1>
</section>

<!-- CARD WEDDING SECTION -->
<div class="wrapperkor">
  <section class="korporasi">
    <div class="korporasi__flex">
      <div class="korporasi__card">
        <img class="korporasi__image" src="./img/kor_card1.png" alt="bronze" />
        <div class="korporasi__content">
          <div class="korporasi__box1">
            <div class="korporasi__title">Anniversary</div>
            <div class="korporasi__star">★★★★★</div>
          </div>
          <div class="korporasi__box2">Paket lengkap dengan konsep unik untuk rayakan anniversary perusahaan kamu.</div>
          <div class="korporasi__box3">
            <div class="korporasi__price">Rp. 70.000.000</div>
            <div class="korporasi__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
      <div class="korporasi__card">
        <img class="korporasi__image" src="./img/kor_card2.png" alt="bronze" />
        <div class="korporasi__content">
          <div class="korporasi__box1">
            <div class="korporasi__title">Seminar</div>
            <div class="korporasi__star">★★★★★</div>
          </div>
          <div class="korporasi__box2">Paket lengkap mulai dari pembuatan konsep acara, brosur acara hingga teknis pelaksanaan.</div>
          <div class="korporasi__box3">
            <div class="korporasi__price">Rp. 20.000.000</div>
            <div class="korporasi__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('./partials/footer'); %>
