<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Login</title>
  </head>
  <body>
    <!-- lOGIN CARD WRAPPER -->

    <div class="wrapperlog">
      <div class="login">
        <!-- LOGIN HEADER -->
        <div class="login__header">
          Hai, <br />
          Selamat Datang
        </div>

        <!-- EMAIL INPUT -->
        <form action="/users/login" method="post">
          <div class="login__email">
            <input type="text" placeholder="Email" name="email" required />
            <div class="login__icon"></div>
          </div>
          <div class="login__pass">
            <input
              type="password"
              placeholder="Kata Sandi"
              name="password"
              required
            />
            <div class="login__icon"></div>
          </div>

          <!-- INGAT SAYA-CHECK BOX -->
          <div class="login__box">
            <input type="checkbox" />
            <span>Ingat Saya</span>
          </div>
          <!-- LOGIN BUTTON -->
          <div class="login__button">
            <input type="submit" value="Masuk" />
          </div>
        </form>

        <!-- LUPA PASSWORD -->
        <div class="login__forgot">
          lupa kata sandi?
          <a href="resetpass">Klik disini</a>
        </div>

        <!-- BREAK LINE -->
        <div class="login__line"></div>

        <!-- TIDAK PUNYA AKUN  -->
        <div class="login__sign">
          Belum Punya Akun? <a href="#">Daftar disini</a>
        </div>
        <div class="login__google">
          <!-- GOOGLE LOGIN-->
          <a href="#">
            <img src="img/login_google.svg" alt="google" />
            <span>Masuk Dengan Google</span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
