<%- include('./partials/navbar-general'); %>

<section class="order-filler"></section>
<section class="order">
    <h3>Perfect Platinum</h3>
    <p>Paket super lengkap dengan spesifikasi layanan paling tinggi.</p>
    <div class="order__box">
        <div class="box-options" id="active-left">
            <div class="detail-paket">
                <p>Detail Paket</p>
            </div>
            <div class="kustomisasi">
                <p>Kustomisasi</p>
            </div>
        </div>
        <div class="box-detail-paket">
            <div class="detail-paket-deskripsi">
                <h4>Deskripsi Paket</h4>
                <p>Paket pernikahan All In dengan paketan catering 1000 pax untuk konsep acara normal. Biasanya
                    digunakan untuk acara
                    gedung atau venue yang cukup luas di area Bandung. Dengan segala sesuatunya yang tetap mengikuti
                    protokol kesehatan.
                    Demi keamanan dan kenyamanan bersama.</p>
            </div>
            <div class="detail-paket-galeri">
                <h4>Galeri Paket</h4>
                <div class="galeri-gambar">
                    <img src="/img/order1.png">
                    <img src="/img/order2.png">
                    <img src="/img/order3.jpg">
                </div>
            </div>
            <div class="detail-paket-keterangan">
                <h4>Detail Paket</h4>
            </div>
            <div class="detail-paket-choices">
                <div class="dekorasi info">
                    <div class="info-keterangan">
                        <h4>Dekorasi</h4>
                        <div class="dekorasi-info sect">
                            <h4>Rp. 22.000.000</h4>
                            <img src="/img/info.svg">
                        </div>
                    </div>
                    <div class="paket-detail paket-detail-dekorasi">
                        <ul>
                            <li>Dekorasi pelaminan maks 10 meter</li>
                            <li>Teman pelaminan (fresh flower & artificial)</li>
                            <li>1 Set meja & kursi akad</li>
                            <li>1 Backdrop Music</li>
                            <li>1 Spot galeri photo</li>
                            <li>1 Spot photoboot</li>
                            <li>6 Pilar jalan & karpet jalan</li>
                            <li>3 Gate lengkung / kotak</li>
                            <li>1 Pergola masuk 3x4 meter</li>
                            <li>2 Meja penerima tamu & kotak angpau</li>
                            <li>Welcome sign</li>
                        </ul>
                    </div>
                </div>
                <div class="rias info">
                    <div class="info-keterangan">
                        <h4>Rias</h4>
                        <div class="rias-info sect">
                            <h4>Rp. 23.000.000</h4>
                            <img src="/img/info.svg">
                        </div>
                    </div>
                    <div class="paket-detail paket-detail-rias">
                        <ul>
                            <li>Make up pengantin akad & resepsi</li>
                            <li>Busana pengantin akad & resepsi</li>
                            <li>Handboquet</li>
                            <li>Make up 2 & busana pasang orang tua</li>
                            <li>Make up & kebaya untuk 1 pasang pager ayu</li>
                            <li>Make up & kebaya untuk 1 pasang pager bagus</li>
                        </ul>
                    </div>
                </div>
                <div class="katering info">
                    <div class="info-keterangan">
                        <h4>Katering</h4>
                        <div class="katering-info sect">
                            <h4>Rp. 33.000.000</h4>
                            <img src="/img/info.svg">
                        </div>
                    </div>
                    <div class="paket-detail paket-detail-katering">
                        <ul>
                            <li>1000 Pax</li>
                            <li>7 Buffet</li>
                            <li>3 Foodstall</li>
                            <li>100 Pax Coffee Break</li>
                            <li>Dekorasi area katering</li>
                            <li>Meja Katering Pengantin & VIP</li>
                        </ul>
                    </div>
                </div>
                <div class="documentation info">
                    <div class="info-keterangan">
                        <h4>Dokumentasi</h4>
                        <div class="documentation-info sect">
                            <h4>Rp. 13.000.000</h4>
                            <img src="/img/info.svg">
                        </div>
                    </div>
                    <div class="paket-detail paket-detail-documentation">
                        <ul>
                            <li>Liputan akad & resepsi</li>
                            <li>1 Wedding album magazine</li>
                            <li>1 Group album magazine</li>
                            <li>1 Custom box eksklusif</li>
                            <li>1x cetak foto 16R + Frame</li>
                            <li>Video liputan durasi 15-20 menit</li>
                            <li>Photo & video edit</li>
                            <li>USB photo & all files</li>
                        </ul>
                    </div>
                </div>
                <div class="hiburan info">
                    <div class="info-keterangan">
                        <h4>Hiburan</h4>
                        <div class="hiburan-info sect">
                            <h4>Rp. 30.000.000</h4>
                            <img src="/img/info.svg">
                        </div>
                    </div>
                    <div class="paket-detail paket-detail-hiburan">
                        <ul>
                            <li>2 Vokalis</li>
                            <li>1 Keyboard</li>
                            <li>1 Saxophone / biola</li>
                            <li>1 Gitar</li>
                            <li>1 Bass</li>
                            <li>Sound system 5000 watt</li>
                        </ul>
                    </div>
                </div>
                <div class="mc info">
                    <div class="info-keterangan">
                        <h4>MC</h4>
                        <div class="mc-info sect">
                            <h4>Rp. 9.000.000</h4>
                            <img src="/img/info.svg">
                        </div>
                    </div>
                    <div class="paket-detail paket-detail-mc">
                        <ul>
                            <li>MC akad & resepsi</li>
                        </ul>
                    </div>
                </div>
                <div class="tambahan info">
                    <div class="info-keterangan">
                        <h4>Hiburan</h4>
                        <div class="tambahan-info sect">
                            <h4>Rp. 0</h4>
                            <img src="/img/info.svg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="detail-paket-right">
                <div class="detail-paket-biaya">
                    <h4>Total Bayar</h4>
                    <div class="sect">
                        <h4>Rp. 130.000.000</h4>
                    </div>
                </div>
                <div class="kustom-pesan">
                    <button class="btn-kustomisasi">Saya membutuhkan kustomisasi</button>
                    <button class="btn-pesan">Pesan sekarang</button>
                </div>
            </div>
            <p class="help">Butuh bantuan? <span>Hubungi kami</span></p>
        </div>
    </div>
</section>

<%- include('./partials/footer'); %>