<%- include('./partials/navbar-general'); %>

<section class="order-filler"></section>
<section class="order">
    <h3>Perfect Platinum</h3>
    <p>Paket super lengkap dengan spesifikasi layanan paling tinggi.</p>
    <div class="order__box">
        <div class="box-options" id="active-left">
            <div class="detail-paket">
                <p>Detail Paket</p>
            </div>
            <div class="kustomisasi">
                <p>Kustomisasi</p>
            </div>
        </div>
        <div class="box-detail-paket">
            <div class="detail-paket-deskripsi">
                <h4>Deskripsi Paket</h4>
                <p>Paket pernikahan All In dengan paketan catering 1000 pax untuk konsep acara normal. Biasanya
                    digunakan untuk acara
                    gedung atau venue yang cukup luas di area Bandung. Dengan segala sesuatunya yang tetap mengikuti
                    protokol kesehatan.
                    Demi keamanan dan kenyamanan bersama.</p>
            </div>
            <div class="detail-paket-galeri">
                <h4>Galeri Paket</h4>
                <div class="galeri-gambar">
                    <img src="/img/order1.png">
                    <img src="/img/order2.png">
                    <img src="/img/order3.jpg">
                </div>
            </div>
            <div class="detail-paket-keterangan">
                <h4>Detail Paket</h4>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer'); %>