
<%- include('./partials/navbar-general'); %>
    <!-- Sign  Card Wrapper -->
    <div class="wrapperdone">
      <div class="done">
        <!-- name -->
        <div class="done__header">Maaf<br/>Pesanan Belum Dibuat</div>
        <div class="done__vector">
          <img class="done__key" src="https://ik.imagekit.io/ardawalika/Happy-emoji-vector-png-1_Q0w7jn1d-.png?ik-sdk-version=javascript-1.4.3&updatedAt=1647102052776" alt="key">
        </div>
        <div class="done__text">Mohon Pesan Paket Terlebih Dahulu Atau Melakukan Kostumisasi Paket</div>
      </div>
    </div>
  </body>
</html>