<%- include('./partials/navbar-general'); %>
<section class="profile-filler"></section>
<section class="profile">
    <div class="profile__user">
        <h4>Profil Akun</h4>
        <div class="picture">
            <img src="/img/avatar3.png" alt="">
            <input type="file" name="uploadfile" id="img" style="display:none;" />
            <label for="img"><img src="/img/editpic.svg" id="edit"></label>
        </div>
        <div class="profile__user__container">
            <div class="profile__user__nama-lengkap field">
                <label>Nama Lengkap</label>
                <div class="profile__user__nama-lengkap__text-field">
                    <input type="text" id="profile-nama-lengkap" placeholder="Jane Doe" />
                    <img src="/img/edit.png">
                </div>
            </div>
            <div class="profile__user__username field">
                <label>Username</label>
                <div class="profile__user__username__text-field">
                    <input type="text" id="profile-input-username" placeholder="janedoe123" />
                    <img src="/img/edit.png">
                </div>
            </div>
            <div class="profile__user__email field">
                <label>Email</label>
                <div class="profile__user__email__text-field">
                    <input type="email" id="profile-input-email" placeholder="janedoe@gmail.com" />
                    <img src="/img/edit.png">
                </div>
            </div>
            <div class="profile__user__email field">
                <label>Nomor Telepon</label>
                <div class="profile__user__nomor__text-field">
                    <input type="number" id="profile-input-nomor" placeholder="08xx-xxxx-xxxx" />
                    <img src="/img/edit.png">
                </div>
            </div>
            <div class="profile__user__alamat field">
                <label>Alamat</label>
                <div class="profile__user__alamat__text-field">
                    <textarea id="profile-input-alamat" placeholder=""> </textarea>
                    <img src="/img/edit.png">
                </div>
            </div>
            <div class="profile__user__password field" id="profile-input-password">
                <div class="profile__user__password__text-field">
                    <label>Kata Sandi</label>
                    <input type="password" />
                    <img src="/img/edit.png" class="edit-password">
                    <div class="edit-password__change">
                        <label>Sandi Baru</label>
                        <input type="password" id="profile-change-password" />
                        <label>Konfirmasi Sandi Baru</label>
                        <input type="password" id="profile-change-password-konfirmasi" />
                    </div>
                </div>
            </div>
            <div class="profile__user__actions field">
                <button class="simpan-perubahan" id="simpan-perubahan">Simpan Perubahan</button>
                <button class="profile-keluar" id="profile-keluar">Keluar</button>
            </div>
        </div>
    </div>
</section>

<script>
    const editPass = document.querySelector(".edit-password")
    const editPassChange = document.querySelector(".edit-password__change")
    const passTextField = document.querySelector(".profile__user__password__text-field")
    const fields = document.querySelectorAll(".field")

    editPass.onclick = (e) => {
        //console.log("ini edit tes")
        const getClassName = e.target.className;
        console.log(getClassName)
        if (editPassChange.style.display !== "block") {
            editPassChange.style.display = "block"
            passTextField.classList.add("active")
            console.log("block")
            fields.forEach((field) => {
                field.classList.add("inactive")
                //console.log("ini field")
            })
        } else {
            editPassChange.style.display = "none"
            passTextField.classList.remove("active")
            fields.forEach((field) => {
                field.classList.remove("inactive")
                //console.log("ini field")
            })
            console.log("none")
        }
    }
</script>
<%- include('./partials/footer'); %>