<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Register</title>
  </head>
  <body>
    <!-- lOGIN CARD WRAPPER -->

    <div class="wrapperlog">
      <div class="register">
        <!-- REGISTER HEADER -->
        <div class="register__header">
          Hai, <br />
          Silahkan Registrasi
        </div>

        <!-- EMAIL INPUT -->
        <form action="#">
          <div class="register__name">
            <input type="name" placeholder="Nama pengguna" required />
            <div class="register__icon"></div>
          </div>
          <div class="register__email">
            <input type="text" placeholder="Email" required />
            <div class="register__icon"></div>
          </div>
          <div class="register__pass">
            <input type="password" placeholder="Kata Sandi" required />
            <div class="register__icon"></div>
          </div>

          <!-- INGAT SAYA-CHECK BOX -->
          <div class="register__box">
            <input type="checkbox" />
            <span>Saya menyetujui syarat layanan & privasi</span>
          </div>
          <!-- REGISTER BUTTON -->
          <div class="register__button">
            <input type="submit" value="Daftar" />
          </div>
        </form>

        <!-- LUPA PASSWORD -->
        <div class="register__forgot">
          Sudah punya akun
          <a href="#">Klik disini</a>
        </div>

        <!-- BREAK LINE -->
        <div class="register__line"></div>

        <!-- TIDAK PUNYA AKUN  -->
        <div class="register__google">
          <span>atau</span>
          <!-- GOOGLE register-->
          <a href="#">
            <img src="img/login_google.svg" alt="google" />
            <span>Masuk Dengan Google</span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
