<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Password Reset</title>
  </head>
  <body>
    <!-- reset CARD WRAPPER -->
    <div class="wrapperres">
      <div class="reset">

        <!-- reset HEADER -->
        <div class="reset__header">
            Atur ulang kata sandi
        </div>
        <div class="reset__text">Masukan kata sandi baru dengan ketentuan:
            Kata sandi minimal 8 karakter
            Mengandung huruf dan angka</div>

        <!-- EMAIL INPUT -->
        <form action="#">
            <div class="reset__email">
              <input type="password" placeholder="Kata sandi" required />
              <div class="reset__icon"></div>
            </div>
            <div class="reset__email">
              <input type="password" placeholder="Ulangi kata sandi" required />
              <div class="reset__icon"></div>
            </div>
            
          <!-- reset BUTTON -->
          <div class="reset__button">
            <input type="submit" value="Ubah sandi" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
