<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Password Reset</title>
  </head>
  <body>
    <!-- reset CARD WRAPPER -->
    <div class="wrapperres">
      <div class="reset">

        <!-- reset HEADER -->
        <div class="reset__header">
          Lupa kata sandi?<br />
          Tidak masalah
        </div>
        <div class="reset__text">Masukkan email yang terdaftar. Kami akan mengirimkan kode verifikasi untuk mengatur ulang kata sandi</div>

        <!-- EMAIL INPUT -->
        <form action="#">
          <div class="reset__email">
            <input type="text" placeholder="Email" required />
            <div class="reset__icon"></div>
          </div>

          <!-- reset BUTTON -->
          <div class="reset__button">
            <input type="submit" value="Lanjut" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
