<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Password Telah Diubah</title>
  </head>
  <body>
    <!-- Sign  Card Wrapper -->
    <div class="wrapperdone">
      <div class="done">
        <!-- name -->
        <div class="done__header">Hore!<br/>Kata sandi telah diubah</div>
        <div class="done__vector">
          <img class="done__key" src="img/login_sucess.png" alt="key">
        </div>
        <div class="done__text">Masuk kembali dengan kata sandi baru yang telah di ubah. Jangan berikan kata sandi anda kepada siapa pun.</div>
        <div class="done__login"><a href="#">Kembali ke home</a></div>
        
  </body>
</html>
