<%- include('./partials/navbar-home'); %>

<div class="wrapper-tracking">
  <h1 class="title">Paket Saya</h1>
  <div class="history-card">
    <img class="history-card__img" src="./assets/img/thumbnail.png" />
    <div class="history-card__text">
      <h1 class="history-card__order-code">#SAS0806</h1>
      <h1 class="history-card__package-title">Paket Perfect Platinum</h1>
      <p class="history-card__total">Total Bayar: <b>Rp130.000.000</b></p>
      <p class="history-card__event-date">Tanggal Acara: <b>28 Februari 2022</b></p>
    </div>
    <form action="../detail-tracking" class="history-card__button">
      <input type="submit" value="Lacak" class="history-card__button">
    </form>
  </div>
</div>

<%- include('./partials/footer'); %>