<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Verifikasi Email</title>
  </head>
  <body>
    <!-- Sign  Card Wrapper -->
    <div class="wrapperdone">
      <div class="done">
        <!-- name -->
        <div class="done__header">Hore!<br/>Email anda <%= data %>  telah terverifikasi</div>
        <div class="done__vector">
          <img class="done__key" src="https://ik.imagekit.io/ardawalika/Happy-emoji-vector-png-1_Q0w7jn1d-.png?ik-sdk-version=javascript-1.4.3&updatedAt=1647102052776" alt="key">
        </div>
        <div class="done__text">Sekarang anda dapat melakukan Login dan Memesan layanan kami</div>
        <div class="done__login"><a href="/login">Login Sekarang</a></div>
  </body>
</html>
