.main-head {
  position: fixed;
  background-color: transparent;
  color: $header-color;
  z-index: 10;
  width: 100%;
  box-shadow: 1px 1px 10px $header-color;

  nav {
    display: flex;
    min-height: 15vh;
    width: 95%;
    margin: auto;
    align-items: center;
    //padding: 2rem;
    flex-wrap: wrap;

    ul {
      display: flex;
      list-style: none;
      flex: 1 1 80rem;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    li {
      margin: 0rem 2rem;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: $navbar-txt;
    }

    button {
      padding: 0.8rem 2rem;
      border-radius: 0.8rem;
      background-color: white;
      color: $header-button;
      font-weight: 500;
      font-size: $navbar-txt;
      text-align: center;
      border: 1px solid #1081e8;
      margin: 1.5rem 0rem;
    }
  }

  #logo {
    // flex: 1 1 0rem;
    font-family: "MuseoModerno", cursive;
    font-size: 3rem;
    flex-wrap: wrap;
    color: white;
  }
}

#main-head-general {
  position: fixed;
  background-color: white;
  min-height: 12vh;
  margin-bottom: 3rem;
  a,
  ul,
  li,
  #logo {
    color: $black;
  }
  #logo {
    @include flex(center, center, row);
  }
}

.solid {
  background: white;
  a,
  ul,
  li,
  #logo {
    color: $black;
    transition: color 1s ease 0s;
  }
}

#main-head-ul {
  a,
  ul,
  li {
    color: $black;
    transition: color 1s ease 0s;
  }
}

// MEDIA QUERY //

@media screen and (max-width: 1176px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    flex: 1 1 0rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-masuk {
    //display: none;
    //background-color: lightpink;
    flex: 1 1 0rem;
  }

  ul {
    flex: 1 1 0rem;
  }
  #main-head-general {
    h1 {
      flex: 2 1 10rem;
      //padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 1056px) {
  .navbar-masuk {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  .navbar-masuk {
    display: flex;
    flex: 1 1 0rem;
    justify-content: center;
    align-items: center;
  }
}
