.home-top {
  // y, x
  @include flex(center, center, column);
  background: url("/img/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  color: $header-color;
  text-align: center;
  .logo {
    font-family: "Pattaya";
    @include flex(center, center, column);
    margin: 5rem 0rem 0.5rem 0rem;
  }
}

// PAKET SECTION //
.paket {
  width: 90%;
  margin: auto;
  margin-bottom: 8rem;
  @include flex(space-around, space-evenly, column);

  h3 {
    margin: 4.5rem 0rem;
    text-align: center;
    font-family: "Pattaya";
  }

  .paket-cards {
    @include flex(center, center, row);
    flex-wrap: wrap;
  }

  .kartu {
    text-align: center;
    margin: 0rem 2rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    width: 20%;
    height: auto;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: auto;
      position: relative;
      vertical-align: middle;
      left: 50%;
      transform: translate(-50%);
      height: 15rem;
      width: 15rem;
      object-fit: cover;
    }

    cursor: pointer;
    transition: transform 0.5s;
  }

  .kartu:hover {
    transform: scale(1.1);
  }

  .container {
    @include flex(space-between, center, column);
    //background-color: lavender;
    min-height: 33vh;
    button {
      border: none;
      padding: 0.2rem 1.5rem;
      border-radius: 0.2rem;
      background-color: $button-background;
      color: white;
      font-weight: 500;
      margin-bottom: 3rem;
    }
    h4 {
      margin-top: 2.5rem;
      padding: 0rem 5rem;
      text-align: center;
      font-weight: 400;
    }
  }
}

// HASIL SECTION //
.hasil {
  width: 90%;
  margin: auto;
  margin-bottom: 6rem;
  @include flex(space-around, space-around, column);
  h3 {
    margin: 0rem 0rem 2.5rem 0rem;
    text-align: center;
    font-family: "Pattaya";
  }

  .hasil-cards {
    @include flex(space-around, space-around, row);
    flex-wrap: wrap;
  }
  .hasil-1 {
    background: url("/img/tes1.png");
  }
  .hasil-2 {
    background: url("/img/tes2.jpg");
  }
  .hasil-3 {
    background: url("/img/img1.jpg");
  }
  .hasil-4 {
    background: url("/img/img2.jpg");
  }
  .hasil-5 {
    background: url("/img/tes.jpg");
  }
  .hasil-6 {
    background: url("/img/tes10.jpg");
  }
  .kartu {
    text-align: left;
    min-height: 60vh;
    padding: 0rem 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 30rem;
    height: auto;
    margin: 2rem;
    flex-wrap: wrap;
    cursor: pointer;
    transition: transform 0.5s;
  }

  .kartu:hover {
    transform: scale(1.1);
  }
}

// TESTIMONI SECTION//
.testimoni {
  width: 90%;
  margin: auto;
  margin-bottom: 8rem;
  @include flex(space-around, space-evenly, column);

  h3 {
    margin: 4.5rem 0rem;
    text-align: center;
    font-family: "Pattaya";
  }

  .testimoni-cards {
    @include flex(center, stretch, row);
    flex-wrap: wrap;
    width: 100%; /*whatever size you want your container*/
  }

  .kartu {
    text-align: center;
    margin: 0rem 3rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    width: 35%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;

    .circle {
      width: 15rem;
      height: 15rem;
      overflow: hidden;
      border-radius: 100%;
      margin: 6rem auto 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .kartu:hover {
    transform: scale(1.1);
  }

  .container {
    @include flex(space-between, center, column);
    min-height: 33vh;
    h4 {
      margin-top: 2.5rem;
      padding: 0rem 5rem;
      text-align: center;
      font-weight: 400;
    }
    p {
      text-align: justify;
      margin: 0rem 2rem 2rem 2rem;
    }
  }
}

// MEDIA QUERY //
@media screen and (max-width: 762px) {
  .testimoni-cards {
    //background-color: #f3d8ae;
    .kartu {
      flex: 1 1 30rem;
    }
  }
}

@media screen and (max-width: 762px) {
  .paket {
    .kartu {
      flex: 1 1 20rem;
    }
  }
}

@media screen and (max-width: 624px) {
  .hasil {
    h3 {
      margin: 5rem 0rem 2.5rem 0rem;
    }
  }
}
