.home-top {
  // y, x
  @include flex(center, center, column);
  background: url("/img/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  color: $header-color;
  text-align: center;
  .logo {
    font-family: "Pattaya";
    @include flex(center, center, column);
    margin: 5rem 0rem 0.5rem 0rem;
  }
}

// PAKET SECTION //
.paket {
  width: 90%;
  margin: auto;
  margin-bottom: 8rem;
  @include flex(space-around, space-between, column);
  //background-color: lavender;

  h3 {
    margin: 4.5rem 0rem;
    text-align: center;
    font-family: "Pattaya";
  }

  .paket-cards {
    @include flex(center, center, row);
    flex-wrap: wrap;
  }

  .kartu {
    text-align: center;
    margin: 0rem 2rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    width: 25%;
    height: auto;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: auto;
      position: relative;
      vertical-align: middle;
      left: 50%;
      transform: translate(-50%);
      height: 18rem;
      width: 15rem;
      object-fit: cover;
    }

    cursor: pointer;
    transition: transform 0.5s;
  }

  .kartu:hover {
    transform: scale(1.1);
  }

  .container {
    @include flex(space-between, center, column);
    //background-color: lavender;
    min-height: 33vh;
    button {
      border: none;
      padding: 0.2rem 1.5rem;
      border-radius: 0.2rem;
      background-color: $button-background;
      color: white;
      font-weight: 500;
      margin-bottom: 3rem;
    }
    h4 {
      margin-top: 2.5rem;
      padding: 0rem 5rem;
      text-align: center;
      font-weight: 400;
    }
  }
}

// HASIL SECTION //
.hasil {
  width: 90%;
  margin: auto;
  margin-bottom: 6rem;
  @include flex(space-around, space-around, column);
  h3 {
    margin: 0rem 0rem 2.5rem 0rem;
    text-align: center;
    font-family: "Pattaya";
  }

  .hasil-cards {
    @include flex(space-around, space-around, row);
    flex-wrap: wrap;
  }
  .hasil-1 {
    background: url("/img/tes1.png");
  }
  .hasil-2 {
    background: url("/img/tes2.jpg");
  }
  .hasil-3 {
    background: url("/img/img1.jpg");
  }
  .hasil-4 {
    background: url("/img/img2.jpg");
  }
  .hasil-5 {
    background: url("/img/tes.jpg");
  }
  .hasil-6 {
    background: url("/img/tes10.jpg");
  }
  .kartu {
    text-align: left;
    min-height: 60vh;
    padding: 0rem 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 30rem;
    height: auto;
    margin: 2rem;
    flex-wrap: wrap;
    cursor: pointer;
    transition: transform 0.5s;
  }

  .kartu:hover {
    transform: scale(1.1);
  }
}

// TESTIMONI SECTION//
.testimoni {
  width: 90%;
  margin: auto;
  margin-bottom: 8rem;
  @include flex(space-around, space-evenly, column);

  h3 {
    margin: 4.5rem 0rem;
    text-align: center;
    font-family: "Pattaya";
  }

  .testimoni-cards {
    @include flex(center, stretch, row);
    flex-wrap: wrap;
    width: 100%; /*whatever size you want your container*/
  }

  .kartu {
    text-align: center;
    margin: 0rem 3rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    width: 35%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;

    .circle {
      width: 15rem;
      height: 15rem;
      overflow: hidden;
      border-radius: 100%;
      margin: 6rem auto 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .kartu:hover {
    transform: scale(1.1);
  }

  .container {
    @include flex(space-between, center, column);
    min-height: 33vh;
    h4 {
      margin-top: 2.5rem;
      padding: 0rem 5rem;
      text-align: center;
      font-weight: 400;
    }
    p {
      text-align: justify;
      margin: 0rem 2rem 2rem 2rem;
    }
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 45%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  // background-color: #f99;
  counter-increment: item;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  //transform: translate3d(-50%, -40%, 70px);
  visibility: hidden;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 17.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

// MEDIA QUERY //
@media screen and (max-width: 762px) {
  .testimoni-cards {
    //background-color: #f3d8ae;
    .kartu {
      flex: 1 1 30rem;
    }
  }
}

@media screen and (max-width: 762px) {
  .paket {
    .kartu {
      flex: 1 1 20rem;
    }
  }
}

@media screen and (max-width: 624px) {
  .hasil {
    h3 {
      margin: 5rem 0rem 2.5rem 0rem;
    }
  }
}
