.konfirmasi {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  //background-color: lavender;
  @include flex(flex-start, center, column);
  &__pilih-bank {
    cursor: pointer;
  }
  .field {
    width: 100%;
    //background-color: lightblue;
    margin: 2rem 0rem 3rem 0rem;
    @include flex(center, center, column);
    input {
      //width: 100%;
      border: 0.2rem solid whitesmoke;
      border-radius: 0.8rem;
      padding: 1rem 1rem;
      text-align: center;
      width: 30rem;
    }
    h4 {
      font-size: $medium;
      font-weight: 700;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    select {
      //width: 100%;
      cursor: pointer;
      border: 0.2rem solid whitesmoke;
      border-radius: 0.8rem;
      padding: 1rem 1rem;
      text-align: center;
      width: 30rem;
      font-size: $text;
      color: #818181;
    }
  }
  .simpan-konfirmasi {
    border: none;
    padding: 0.8rem 2.8rem;
    border-radius: 0.8rem;
    background-color: #070504;
    color: white;
    width: 100%;
    margin: 1rem 0rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out; /* the property that is going to be changed from from button to button:hover*/
    /*animation: cloudAnimation 2s infinite; */
  }
  .simpan-konfirmasi:hover {
    background-color: $lightblue;
  }
}
