.order-filler {
  min-height: 15vh;
}

.order {
  width: 82%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #0f1d40;
  padding: 2rem;
  min-height: 90vh;
  h3 {
    font-weight: 700;
  }
  p {
    font-weight: 500;
    margin-bottom: 3rem;
  }
  .box-options {
    @include flex(space-evenly, center, row);
    cursor: pointer;
    text-align: center;
    //background-color: lavender;
    .detail-paket {
      //background-color: lavender;
      flex: 1 1 50rem;
      // margin-top: -1.9rem;
      // margin-left: -3.3rem;
      padding-left: 2rem;
      //border-left: 3px solid white;
      h3 {
        margin: 2rem 2rem 4rem 2rem;
        font-size: $medium;
      }
    }

    .kustomisasi {
      flex: 1 1 50rem;
      margin-top: -2rem;
      margin-right: -3.3rem;
      background-color: white;
      padding-left: 2rem;
    }
    p {
      margin: 1rem;
      font-weight: 600;
    }
    p:hover {
      color: $keunggulan-number;
    }
  }
  &__box {
    margin: 5rem 0rem;
    // border-right: 3px solid #0f1d40;
    // border-left: 3px solid #0f1d40;
    // border-bottom: 3px solid #0f1d40;
    border: 3px solid #0f1d40;
    border-radius: 0.8rem;
    padding: 1rem 3rem;
    min-height: 100vh;
  }
  .help {
    margin: 12rem 1rem 2rem 0rem;
    span {
      color: #1081e8;
    }
  }
}

// #active-left {
//   .detail-paket {
//     margin-top: -1.9rem;
//     margin-left: -3.3rem;
//     padding-left: 2.1rem;
//     //border-radius: 0.8rem;
//     border-top: 3px solid #0f1d40;
//     border-right: 3px solid #0f1d40;
//     border-left: 3px solid #0f1d40;
//     border-top-right-radius: 0.8rem;
//     border-top-left-radius: 0.8rem;
//   }
//   .kustomisasi {
//     border-bottom: 3px solid #0f1d40;
//     border-right: 3px solid #cacdd5;
//     border-left: 3px solid #cacdd5;
//     border-top: 3px solid #cacdd5;

//     border-top-right-radius: 0.8rem;
//     border-top-left-radius: 0.8rem;

//     // background-color: lightpink;
//   }
// }

// #active-right {
//   .detail-paket {
//     border-bottom: 3px solid #0f1d40;
//     border-left: 3px solid white;

//     border-left: 3px solid #cacdd5;
//     border-top: 3px solid #cacdd5;
//     border-right: 3px solid #cacdd5;
//     border-top-right-radius: 0.8rem;
//     border-top-left-radius: 0.8rem;
//     margin-right: 3rem;
//   }
//   .kustomisasi {
//     margin-top: -2rem;
//     margin-left: -3.3rem;
//     padding-left: 2.1rem;
//     border-top: 3px solid #0f1d40;
//     border-right: 3px solid #0f1d40;
//     border-left: 3px solid #0f1d40;
//     border-top-right-radius: 0.8rem;
//     border-top-left-radius: 0.8rem;
//   }
// }

.box-detail-paket {
  h4 {
    font-weight: 700;
    margin: 1rem 0rem;
  }
  .detail-paket-deskripsi {
    margin: 3rem 0rem 2rem 0rem;
    p {
      font-weight: 400;
    }
  }

  .detail-paket-galeri {
    margin-bottom: 2rem;
  }
  .galeri-gambar {
    //background-color: lavender;
    //width: 80%;
    margin: auto;
    @include flex(center, center, row);
    flex-wrap: wrap;
    img {
      //float: left;
      width: 30rem;
      height: 20rem;
      object-fit: cover;
      margin: 1rem 0.5rem;
      border-radius: 0.8rem;
    }
  }
}

// DETAIL PAKET SECTION //
.detail-paket-choices {
  @include flex(flex-start, space-between, column);
  min-height: 50vh;

  .info {
    background-color: #f5f6f7;
    margin: 0rem 0rem 1.3rem 0rem;
    cursor: pointer;
  }

  .info-keterangan {
    @include flex(space-between, flex-start, row);
    flex-wrap: wrap;
    border-radius: 0.8rem;
    h4 {
      margin-left: 3rem;
      flex: 1 1 50rem;
    }
    .sect {
      @include flex(space-between, flex-start, row);
      //background-color: lightpink;
      flex: 1 1 10rem;
      img {
        margin: 1rem 2rem;
      }
      h4 {
        font-weight: 400;
        color: #0b2589;
      }
    }
  }

  .paket-detail {
    margin: 0rem 7rem 2rem 7rem;
    //min-height: 10vh;
    display: none;
  }

  .paket-detail-kustomisasi {
    //margin: 0rem 7rem 2rem 7rem;
    //min-height: 10vh;
    //display: none;
    select {
      width: 90%;
      border-radius: 0.8rem;
      border: 1px solid #c2c2c2;
      height: 5rem;
      box-sizing: border-box;
      font-size: $text;
      resize: none;
      margin: auto;
      flex-wrap: wrap;
      padding: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 3.5rem;
      //background-color: lavender;
    }
    #namaDekorasi {
      height: 5rem;
    }
  }

  textarea {
    width: 90%;
    @include flex(space-between, flex-start, row);
    //background: #ededed;
    border-radius: 0.8rem;
    border: 1px solid #c2c2c2;
    height: 15rem;
    box-sizing: border-box;
    font-size: $text;
    resize: none;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    margin-bottom: 3.5rem;
    //background-color: lavender;
  }

  .note-dropdown {
    display: none;
    width: 90%;
    @include flex(space-between, flex-start, row);
    //background: #ededed;
    border-radius: 0.8rem;
    border: 1px solid #c2c2c2;
    height: 5rem;
    box-sizing: border-box;
    font-size: $text;
    resize: none;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    margin-bottom: 3.5rem;
    //background-color: lavender;
  }
}

.kustomisasi-paket-choices {
  @include flex(flex-start, space-between, column);
  min-height: 50vh;

  .info {
    background-color: #f5f6f7;
    margin: 0rem 0rem 1.3rem 0rem;
    cursor: pointer;
  }

  .info-keterangan {
    @include flex(space-between, flex-start, row);
    flex-wrap: wrap;
    border-radius: 0.8rem;
    h4 {
      margin-left: 3rem;
      flex: 1 1 50rem;
    }
    .sect {
      @include flex(space-between, flex-start, row);
      //background-color: lightpink;
      flex: 1 1 10rem;
      img {
        margin: 1rem 2rem;
      }
      h4 {
        font-weight: 400;
        color: #0b2589;
      }
    }
  }

  .paket-detail {
    margin: 0rem 7rem 2rem 7rem;
    //min-height: 10vh;
    display: none;
  }

  .paket-detail-kustomisasi {
    //background-color: lavender;
    //margin: 0rem 7rem 2rem 7rem;
    //min-height: 10vh;
    display: none;
    select {
      width: 90%;
      border-radius: 0.8rem;
      border: 1px solid #c2c2c2;
      height: 4rem;
      box-sizing: border-box;
      font-size: $text;
      resize: none;
      margin: auto;
      flex-wrap: wrap;
      padding: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 3.5rem;
      //background-color: lavender;
    }
    #nama_paket {
      height: 5rem;
    }
  }

  textarea {
    width: 90%;
    @include flex(space-between, flex-start, row);
    //background: #ededed;
    border-radius: 0.8rem;
    border: 1px solid #c2c2c2;
    height: 15rem;
    box-sizing: border-box;
    font-size: $text;
    resize: none;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    margin-bottom: 3.5rem;
    //background-color: lavender;
  }

  .note-dropdown {
    display: none;
    width: 90%;
    @include flex(space-between, flex-start, row);
    //background: #ededed;
    border-radius: 0.8rem;
    border: 1px solid #c2c2c2;
    height: 15rem;
    box-sizing: border-box;
    font-size: $text;
    resize: none;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    margin-bottom: 3.5rem;
    //background-color: lavender;
  }
}

// BUTTONS/CUSTOMISATION SECTION //
.detail-paket-right {
  width: 50%;
  margin: 0 0 0 auto;
  //background-cobtnlor: lavender;
  // @include flex(space-between, flex-start, column);
  .detail-paket-biaya {
    background-color: #f5f6f7;
    margin: 1rem 0rem 2rem 1rem;
    border-radius: 0.8rem;
    @include flex(space-between, flex-start, row);
    flex-wrap: wrap;
    h4 {
      flex: 1 1 10rem;
      //background-color: lightpink;
      margin: 1rem 0.5rem 1rem 4rem;
    }
    .sect {
      @include flex(flex-start, flex-end, row);
      color: #0b2589;
      flex: 1 1 21rem;
      h4 {
        font-size: 1.8rem;
      }
      //background-color: lightblue;
    }
  }

  .kustom-pesan {
    @include flex(center, flex-end, row);
    //width: 80%;
    margin: auto;
    //background-color: lightblue;
    flex-wrap: wrap;
    .btn-kustomisasi {
      //margin: 0rem 0rem 0.5rem 1rem;
      margin: 0.5rem;
      background-color: white;
      border: 1px solid #1081e8;
      width: 40%;
      padding: 1.2rem 0.5rem;
      border-radius: 0.8rem;
      font-size: 1.3rem;
      color: #1081e8;
      font-weight: 600;
      a {
        color: #1081e8;
      }
    }
    .btn-pesan {
      background-color: #1081e8;
      //margin: 0rem 0rem 0.5rem 1rem;
      margin: 0.5rem;
      font-size: 1.3rem;
      border: none;
      border-radius: 0.8rem;
      width: 55%;
      padding: 1.2rem 0.5rem;
      a {
        color: white;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
}

// SECTION KUSTOMISASI //
.box-kustomisasi {
  h4 {
    font-weight: 700;
    margin: 1rem 0rem;
  }
  .kustomisasi-deskripsi {
    margin: 3rem 0rem 2rem 0rem;
    p {
      font-weight: 400;
    }
  }

  .kustomisasi-choices {
    @include flex(flex-start, space-between, column);
    min-height: 50vh;

    .info {
      //background-color: #f5f6f7;
      @include flex(space-between, flex-start, row);
      margin: 0rem 0rem 1.3rem 0rem;
      cursor: pointer;
    }

    .info-keterangan {
      @include flex(space-between, flex-start, row);
      background-color: #f5f6f7;
      flex-wrap: wrap;
      flex: 1 1 50rem;
      border-radius: 0.8rem;
      img {
        margin: 1rem 3rem;
      }
      h4 {
        margin-left: 3rem;
        flex: 1 1 50rem;
      }
    }

    .sect {
      //background-color: lightpink;
      flex: 1 1 1rem;
      h4 {
        font-weight: 400;
        color: #0b2589;
      }
    }

    #kustomisasi-rias {
      //background-color: lavender;
      border-radius: 0.8rem;
      margin: 0rem;
      padding: 0rem;
      li {
        border: 1px solid #979797;
        padding: 10px 23px 10px 32px;
        font-weight: 500;
      }
      li:nth-child(1) {
        border-radius: 8px 8px 0px 0px;
      }
      li:nth-child(4) {
        border-radius: 0px 0px 8px 8px;
      }
    }
    .kustomisasi-detail {
      margin: 0rem 23rem 2rem 0rem;
      background-color: #f5f6f7;
      border-radius: 0.8rem;
      flex: 1 1 50rem;
      display: none;
      ul {
        margin-left: 7rem;
        padding: 1rem 0rem;
      }
      //min-height: 10vh;
    }
    .sect {
      @include flex(space-between, flex-start, row);
      margin: 0rem 2rem;
      flex: 1 1 1rem;
      //@include flex(center, center, row);
      //background-color: lightpink;
    }
  }

  .kustomisasi-right {
    width: 50%;
    margin: 0 0 0 auto;

    .kustomisasi-biaya {
      background-color: #f5f6f7;
      margin: 1rem 0rem 2rem 1rem;
      border-radius: 0.8rem;
      @include flex(space-between, flex-start, row);
      flex-wrap: wrap;
      h4 {
        flex: 1 1 10rem;
        //background-color: lightpink;
        margin: 1rem 0.5rem 1rem 4rem;
      }
      .sect {
        @include flex(flex-start, flex-end, row);
        color: #0b2589;
        flex: 1 1 21rem;
        h4 {
          font-size: 1.8rem;
        }
        //background-color: lightblue;
      }
    }

    .kustom-pesan {
      @include flex(flex-end, flex-end, row);
      background-color: lavender;
      flex-wrap: wrap;
      .btn-kustomisasi {
        margin: 0rem 0rem 0.5rem 1rem;
        background-color: white;
        border: 1px solid #1081e8;
        padding: 1.2rem 2.4rem;
        border-radius: 0.8rem;
        font-size: 1.3rem;
        color: #1081e8;
        font-weight: 600;
      }
      .btn-pesan {
        //background-color: pink;
        margin: 0rem 0rem 0.5rem 1rem;
        font-size: 1.3rem;
        border: none;
        padding: 1.3rem 3.5rem;
        color: white;
        border-radius: 0.8rem;
      }
    }
  }
}

#btnPesanKustom {
  width: 100%;
  //background-color: lavender;
}

// MEDIA QUERY //
@media screen and (max-width: 796px) {
  #btnPesan {
    background-color: #1081e8;
    //margin: 0rem 0rem 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1.3rem;
    border: none;
    color: white;
    border-radius: 0.8rem;
    width: 100%;
    padding: 1.2rem 0.5rem;
  }
  #btnKustomisasi {
    width: 100%;
  }
}

@media screen and (max-width: 719px) {
  .detail-paket-biaya {
    h4 {
      font-size: 1.8rem;
      margin: 0.5rem 0rem 0.5rem 4rem;
    }
  }
}

@media screen and (max-width: 461px) {
  .detail-paket-biaya {
    h4 {
      font-size: 1.5rem;
      margin: 0.5rem 0rem 0.5rem 4rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .order-filler {
    min-height: 23vh;
  }
}

@media screen and (max-width: 832px) {
  .box-kustomisasi {
    .info-keterangan {
      img {
        display: none;
      }
    }
  }
}
