* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 5.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 1.5rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

@font-face {
  font-family: goshasans;
  src: url("/font/GoshaSans-Regular.ttf");
}

@font-face {
  font-family: gilroy-light;
  src: url("/font/Gilroy-Light.otf");
}

.main-head {
  position: fixed;
  background-color: transparent;
  color: #293845;
  z-index: 10;
  width: 100%;
}

.main-head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 15vh;
  width: 95%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-head nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80rem;
          flex: 1 1 80rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-head nav li {
  margin: 0rem 2rem;
}

.main-head nav a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.main-head nav button {
  padding: 0.8rem 2rem;
  border-radius: 0.8rem;
  background-color: white;
  color: #1081e8;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  border: 1px solid #1081e8;
  margin: 1.5rem 0rem;
}

.main-head #logo {
  font-family: "MuseoModerno", cursive;
  font-size: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

#main-head-general {
  position: fixed;
  background-color: white;
  min-height: 12vh;
  margin-bottom: 3rem;
}

#main-head-general a,
#main-head-general ul,
#main-head-general li,
#main-head-general #logo {
  color: #070504;
}

#main-head-general #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.solid {
  background: white;
}

.solid a,
.solid ul,
.solid li,
.solid #logo {
  color: #070504;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}

#main-head-ul a,
#main-head-ul ul,
#main-head-ul li {
  color: #070504;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}

@media screen and (max-width: 1176px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0rem;
            flex: 1 1 0rem;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-masuk {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0rem;
            flex: 1 1 0rem;
  }
  ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0rem;
            flex: 1 1 0rem;
  }
  #main-head-general h1 {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 10rem;
            flex: 2 1 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1056px) {
  .navbar-masuk {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  .navbar-masuk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0rem;
            flex: 1 1 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home {
  background: url("/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 130vh;
}

.home-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 130vh;
  color: #293845;
  text-align: center;
  width: 87%;
  margin: auto;
}

.home-top .logo {
  font-family: "MuseoModerno", cursive;
  margin: 20rem 0rem 2rem 0rem;
  font-size: 13rem;
  color: white;
  font-weight: 500;
}

.home-top p {
  text-align: left;
  color: white;
}

.home-top .home-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-top .home-txt .home-txt-p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
}

.home-top .home-txt .home-txt-bubbles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  width: 30%;
  margin-left: 1.5rem;
  padding-right: 8rem;
}

.home-top .home-txt .home-txt-bubbles p {
  margin: 0.3rem 0.3rem;
  padding: 8px 15px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.paket {
  width: 95%;
  margin: auto;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.paket .paket-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem 0rem;
}

.paket .paket-txt h3 {
  margin: 4.5rem 0rem;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  font-weight: 700;
}

.paket .paket-txt p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: right;
  color: #959cab;
  padding: 0rem 4rem;
}

.paket .paket-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.paket .paket-cards .kartu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0rem 1.2rem;
  border-radius: 0.8rem;
  margin-bottom: 4rem;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
  height: auto;
  overflow: hidden;
  width: 100%;
  height: 75vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.paket .paket-cards .kartu h3 {
  color: white;
  text-align: left;
  margin: 1rem 0rem 1.5rem 1.5rem;
  margin-right: 20rem;
}

.paket .paket-cards .kartu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.paket #paket-korporat {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 29, 64, 0.9)), color-stop(58.66%, rgba(15, 29, 64, 0))), url("/img/paket-corporate.png");
  background: linear-gradient(0deg, rgba(15, 29, 64, 0.9) 0%, rgba(15, 29, 64, 0) 58.66%), url("/img/paket-corporate.png");
}

.paket #paket-pernikahan {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 29, 64, 0.9)), color-stop(58.66%, rgba(15, 29, 64, 0))), url("/img/paket-wedding.jpg");
  background: linear-gradient(0deg, rgba(15, 29, 64, 0.9) 0%, rgba(15, 29, 64, 0) 58.66%), url("/img/paket-wedding.jpg");
}

.paket #paket-keluarga {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 29, 64, 0.9)), color-stop(58.66%, rgba(15, 29, 64, 0))), url("/img/paket-keluarga.jpg");
  background: linear-gradient(0deg, rgba(15, 29, 64, 0.9) 0%, rgba(15, 29, 64, 0) 58.66%), url("/img/paket-keluarga.jpg");
}

.paket #paket-korporat,
.paket #paket-pernikahan,
.paket #paket-keluarga {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.keunggulan {
  width: 100%;
}

.keunggulan-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: auto;
  min-height: 110vh;
  margin-bottom: 5rem;
  padding: 5rem 0rem;
}

.keunggulan-container p {
  color: #525c76;
}

.keunggulan-container h3 {
  font-size: 3rem;
}

.keunggulan-container .keunggulan-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  margin-top: 8rem;
  margin-left: 10rem;
  padding-right: 8rem;
}

.keunggulan-container .keunggulan-left h1 {
  color: #1081e8;
  margin-top: 2.5rem;
}

.keunggulan-container .keunggulan-left h3 {
  font-weight: 700;
}

.keunggulan-container .keunggulan-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70rem;
          flex: 1 1 70rem;
  background-color: #f5f6f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.keunggulan-container .keunggulan-right .keunggulan-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem 0rem;
  margin-left: 8rem;
}

.keunggulan-container .keunggulan-right .keunggulan-right-container img {
  min-height: 1rem;
  max-width: 3.5rem;
}

.keunggulan-container .keunggulan-right-txt {
  margin-left: 2rem;
}

.keunggulan-container .keunggulan-right-txt h3 {
  font-size: 3rem;
  font-weight: 600;
}

.keunggulan-container .keunggulan-right-txt p {
  padding-right: 23rem;
}

.keunggulan-container #top {
  margin-top: 8rem;
}

.hasil {
  width: 95%;
  margin: auto;
  margin-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hasil h3 {
  margin: 0rem 0rem 2.5rem 0rem;
  text-align: center;
  font-weight: 700;
}

.hasil .hasil-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hasil .hasil-1 {
  background: url("/img/pic1.jpg");
}

.hasil .hasil-2 {
  background: url("/img/pic2.jpg");
}

.hasil .hasil-3 {
  background: url("/img/pic3.jpg");
}

.hasil .hasil-4 {
  background: url("/img/pic4.jpg");
}

.hasil .hasil-5 {
  background: url("/img/pic5.jpg");
}

.hasil .hasil-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left bottom, left top, from(#0f1d40), color-stop(58.66%, rgba(15, 29, 64, 0.5))), url("/img/pic6.png");
  background: linear-gradient(0deg, #0f1d40 0%, rgba(15, 29, 64, 0.5) 58.66%), url("/img/pic6.png");
}

.hasil .hasil-6 p {
  color: white;
}

.hasil .kartu {
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.8rem;
  width: 100%;
  max-width: 38rem;
  height: auto;
  margin: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.hasil .kartu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.testimoni {
  width: 90%;
  margin: auto;
  margin-bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 70vh;
}

.testimoni h3 {
  margin: 4.5rem 0rem;
  text-align: center;
  font-family: "Pattaya";
}

.testimoni .testimoni-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  /*whatever size you want your container*/
}

.testimoni .kartu {
  text-align: center;
  margin: 0rem 3rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
  width: 35%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.testimoni .kartu .circle {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 100%;
  margin: 6rem auto 0;
}

.testimoni .kartu .circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimoni .kartu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.testimoni .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 33vh;
}

.testimoni .container h4 {
  padding: 0rem 5rem;
  text-align: center;
  font-weight: 400;
}

.testimoni .container p {
  text-align: justify;
  margin: 0rem 2rem 2rem 2rem;
}

@-webkit-keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@-webkit-keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@-webkit-keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 45%;
  -webkit-filter: drop-shadow(0 0 10px #0003);
          filter: drop-shadow(0 0 10px #0003);
  -webkit-perspective: 100px;
          perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    -webkit-animation-name: tonext, snap;
            animation-name: tonext, snap;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .carousel__slide:last-child .carousel__snapper {
    -webkit-animation-name: tostart, snap;
            animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    -webkit-animation-name: none;
            animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  -webkit-animation-name: none;
          animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 17.5%;
  width: 4rem;
  height: 4rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

@media screen and (max-width: 910px) {
  .home-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-txt-p {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 762px) {
  .testimoni-cards .kartu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30rem;
            flex: 1 1 30rem;
  }
}

@media screen and (max-width: 762px) {
  .paket .kartu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20rem;
            flex: 1 1 20rem;
  }
  .home-txt-bubbles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 624px) {
  .hasil h3 {
    margin: 5rem 0rem 2.5rem 0rem;
  }
}

@media screen and (max-width: 590px) {
  #logo-home {
    font-size: 8rem;
    margin-top: 25rem;
    text-align: center;
  }
}

@media screen and (max-width: 448px) {
  .home,
  .home-top {
    min-height: 135vh;
  }
}

@media screen and (max-width: 918px) {
  .keunggulan-right-container .keunggulan-right-txt {
    padding-right: 5rem;
  }
  .keunggulan-right-container .keunggulan-right-txt p {
    padding-right: 0rem;
  }
}

.dokumentasi-filler {
  min-height: 15vh;
}

.dokumentasi {
  min-height: 70vh;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dokumentasi .dokumentasi-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 4px 4px 36px rgba(0, 0, 0, 0.18);
          box-shadow: 4px 4px 36px rgba(0, 0, 0, 0.18);
  margin: 4rem 0rem;
  min-height: 50vh;
  text-align: justify;
}

.dokumentasi .dokumentasi-card .img1 {
  background-image: url("/img/pic1.jpg");
}

.dokumentasi .dokumentasi-card .img2 {
  background-image: url("/img/pic2.jpg");
}

.dokumentasi .dokumentasi-card .img3 {
  background-image: url("/img/pic3.jpg");
}

.dokumentasi .dokumentasi-card .img4 {
  background-image: url("/img/pic4.jpg");
}

.dokumentasi .dokumentasi-card .img5 {
  background-image: url("/img/pic5.jpg");
}

.dokumentasi .dokumentasi-card .dokumentasi-card-img {
  width: 100%;
  max-width: 35rem;
  height: 33rem;
  padding: 0rem 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.8rem;
  margin-top: -8rem;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  cursor: pointer;
}

.dokumentasi .dokumentasi-card .dokumentasi-card-txt {
  padding: 5rem;
}

.dokumentasi .dokumentasi-card .dokumentasi-card-txt h2 {
  color: #2561ed;
}

.dokumentasi .dokumentasi-card .dokumentasi-card-txt h4 {
  color: #a7c9fd;
}

.dokumentasi .dokumentasi-card .dokumentasi-card-txt p {
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .dokumentasi-filler {
    min-height: 30vh;
  }
}

@media screen and (max-width: 722px) {
  #dokumentasi-img1,
  #dokumentasi-img2,
  #dokumentasi-img3,
  #dokumentasi-img4,
  #dokumentasi-img5 {
    margin: 2rem;
  }
}

footer {
  background-color: #dfe6ed;
  color: #303f4b;
  font-family: "Montserrat", sans-serif;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
  margin: auto;
  min-height: 15vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .brand,
footer .layanan-kami,
footer .tentang-kami,
footer .alamat {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

footer .temukan {
  margin-top: 3rem;
}

footer .footer-brand {
  font-family: "MuseoModerno", cursive;
}

footer .footer-title a {
  font-weight: 700;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-logo ul {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
}

footer .footer-logo li {
  margin: 0rem 0.5rem 2rem 0.5rem;
}

footer .footer-logo img {
  color: black;
}

footer li {
  margin: 1rem 0rem;
}

footer a {
  font-weight: 500;
}

footer a:hover {
  text-decoration: none;
  color: #303f4b;
}

footer p {
  padding: 0rem;
  width: 85%;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
  color: #a4a9b6;
}

@media screen and (max-width: 670px) {
  .layanan-kami,
  .tentang-kami {
    display: none;
  }
  .footer-ardawalika {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */