$header1: 5.5rem;
$header2: 4.2rem;
$header3: 3.5rem;
$header4: 2rem;
$text: 1.5rem;
$navbar-txt: 2rem;
$medium: 3rem;

$black: #070504;
$copyright: #a4a9b6;
$header-color: #293845;
$header-button: #1081e8;
$button-background: #6558f5;
$keunggulan-number: #1081e8;
$keunggulan-right: #f5f6f7;

$footer-color: #303f4b;
$footer-background: #dfe6ed;
//$background-color: #154353;

$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@import 'global';
@import 'header';
@import 'home';
@import 'dokumentasi';
@import 'footer';
@import 'wedding';
@import 'korporasi';
@import 'keluarga';
