* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 5.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

@font-face {
  font-family: goshasans;
  src: url("/font/GoshaSans-Regular.ttf");
}

@font-face {
  font-family: gilroy-light;
  src: url("/font/Gilroy-Light.otf");
}

.main-head {
  background: #dfe6ed;
  color: #293845;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
}

.main-head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 10vh;
  width: 95%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-head nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80rem;
          flex: 1 1 80rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-head nav li {
  margin: 0rem 1.5rem;
}

.main-head nav a {
  text-decoration: none;
  color: #293845;
}

.main-head nav button {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #6558f5;
  color: white;
  font-weight: 500;
}

.main-head #logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0rem;
          flex: 1 1 0rem;
  font-family: "Pattaya";
  font-size: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1176px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0rem;
            flex: 1 1 0rem;
  }
  ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0rem;
            flex: 1 1 0rem;
  }
}

@media screen and (max-width: 850px) {
  .button {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0rem;
            flex: 1 1 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  color: #293845;
  text-align: center;
}

.home-top .logo {
  font-family: "Pattaya";
  margin: 5rem 0rem 0.5rem 0rem;
}

.home-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: auto;
  min-height: 40vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-cards .kartu-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), url("../img/tes3.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../img/tes3.jpg");
}

.home-cards .kartu-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), url("../img/tes4.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../img/tes4.jpg");
}

.home-cards .kartu-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), url("../img/tes11.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../img/tes11.jpg");
}

.home-cards .kartu {
  text-align: left;
  min-height: 60vh;
  margin-top: -30rem;
  padding: 0rem 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 25rem;
  height: auto;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-cards .kartu p {
  color: white;
  padding: 0rem 5rem;
  margin-left: -6rem;
}

.hasil {
  width: 90%;
  margin: auto;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hasil .hasil-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hasil .hasil-1 {
  background: url("../img//tes1.png");
}

.hasil .hasil-2 {
  background: url("../img/tes2.jpg");
}

.hasil .hasil-3 {
  background: url("../img/img1.jpg");
}

.hasil .hasil-4 {
  background: url("../img//img2.jpg");
}

.hasil .hasil-5 {
  background: url("../img//tes.jpg");
}

.hasil .hasil-6 {
  background: url("../img/tes10.jpg");
}

.hasil .kartu {
  text-align: left;
  min-height: 60vh;
  padding: 0rem 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 30rem;
  height: auto;
  margin: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.hasil .kartu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hasil h3 {
  margin-bottom: 2.5rem;
}

.testimoni {
  width: 90%;
  margin: auto;
  margin-bottom: 5rem;
}

.testimoni h3 {
  margin-bottom: 4.5rem;
}

.testimoni .testimoni-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 50vh;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 9rem;
}

.testimoni .kartu {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
  min-height: 40vh;
  margin: 0rem 1.3rem;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
  color: #070504;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.testimoni .kartu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.testimoni p {
  padding: 1rem 4rem;
  text-align: justify;
}

.main {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main h2 {
  font-weight: bold;
}

.main-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-left p {
  margin: 2rem 0rem;
}

.main-left button {
  border: none;
  padding: 0.8rem 2.8rem;
  border-radius: 2.5rem;
  background-color: #070504;
  color: white;
  max-width: 45%;
  margin: 1rem 0rem;
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  /* the property that is going to be changed from from button to button:hover*/
  /*animation: cloudAnimation 2s infinite; */
}

.main-left button:hover {
  background: #9ac2a9;
}

.main-left .left-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem 2rem 2rem 0rem;
  cursor: pointer;
  border-radius: 2rem;
  -webkit-box-shadow: #50505017 0 6px 9px 0;
          box-shadow: #50505017 0 6px 9px 0;
  min-height: 23vh;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background-color: #e8f8ef;
}

.main-left .left-card .img {
  height: auto;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.main-left .left-card img {
  border-radius: 2rem;
  padding: 1rem;
  max-width: 100%;
  max-height: auto;
  position: relative;
  vertical-align: middle;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-left .left-card p {
  padding-right: 0.5rem;
  padding: 0rem 5rem 0rem 0.5rem;
  margin: none;
  font-size: 1.9rem;
}

.main-left .left-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: #00000017 0 6px 9px 0;
          box-shadow: #00000017 0 6px 9px 0;
}

.main-left .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-right img {
  max-width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
  margin-bottom: 5rem;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 25vh;
  margin: 5rem 0rem;
  background-color: #070504;
  color: white;
  text-align: center;
  width: calc(100vw - 20px);
  margin-left: calc(-50vw + 50% + 10px);
}

.menu {
  margin-top: 8rem;
  min-height: 70vh;
}

.menu h3 {
  margin-bottom: 4rem;
}

.menu .menu-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-card {
  width: 20%;
  height: auto;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  background-color: #fefefe;
  margin: 0rem 2rem 10rem 2rem;
  border-radius: 2rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-top: 2rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  text-align: center;
  cursor: pointer;
}

.menu-card img {
  margin: 0rem 0rem 2rem 0rem;
  border-radius: 2rem;
  max-width: 100%;
  max-height: auto;
  position: relative;
  vertical-align: middle;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 20rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-card .menu-text {
  min-height: 15vh;
}

.menu-card .menu-text p {
  text-align: center;
}

.menu-card .menu-text h4 {
  font-weight: bold;
}

.menu-center:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.signup {
  margin-bottom: 8rem;
}

.signup img {
  max-width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}

.signup input[type="submit"] {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 2.5rem;
  background-color: #070504;
  color: white;
  margin-top: 2rem;
  width: 100%;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  /* the property that is going to be changed from from button to button:hover*/
  /*animation: cloudAnimation 2s infinite; */
}

.signup input[type="submit"]:hover {
  background: #9ac2a9;
}

.signup .signup-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link {
  text-decoration: none;
  color: #070504;
}

.link:hover {
  text-decoration: none;
  color: #070504;
}

.post {
  min-height: 45vh;
  min-width: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post .text {
  padding: 0rem 2rem;
}

.post .text h4 {
  font-weight: bold;
}

.post .text p {
  margin: 1rem 0rem;
}

.post .image {
  width: 100%;
  height: 100%;
}

.post .image img {
  max-width: 100%;
  position: relative;
  vertical-align: middle;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #dfe6ed;
  color: #303f4b;
  font-family: "Montserrat", sans-serif;
}

footer .footer-container {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 25vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-ardawalika {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-ardawalika h3 {
  font-weight: bold;
  font-family: "Pattaya";
  margin: 2rem 0rem 1rem 0rem;
}

footer .footer-ardawalika h4 {
  margin: 1rem 0rem;
}

footer .footer-logo {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
}

footer .footer-logo li {
  margin: 0rem 0.5rem 2rem 0.5rem;
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

footer .footer-menu h4 {
  margin: 1.2rem 0rem;
}

a:hover {
  text-decoration: none;
  color: #303f4b;
}

@media screen and (max-width: 850px) {
  footer {
    text-align: center;
  }
  footer .footer-ardawalika {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-menu {
    visibility: hidden;
    min-height: 1vh;
  }
  .footer-container {
    max-height: 5vh;
  }
  .footer-ardawalika {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */