<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">ARDAWALIKA</div>
    </a>
  
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
  
    <!-- Divider -->
    <hr class="sidebar-divider">
  
    <!-- Heading -->
    <div class="sidebar-heading">
      Master
    </div>
    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/dekorasi">
        <i class="fas fa-fw fa-list-alt"></i>
        <span>Dekorasi</span></a>
    </li>
  
    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/catering">
        <i class="fas fa-fw fa-hotel"></i>
        <span>Catering</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/rias">
        <i class="fas fa-fw fa-hotel"></i>
        <span>Rias</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/dokumentasi">
        <i class="fas fa-fw fa-hotel"></i>
        <span>Dokumentasi</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/entertainment">
        <i class="fas fa-fw fa-hotel"></i>
        <span>Entertainment</span></a>
    </li>
    <!-- Heading -->
  
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-user"></i>
        <span>User</span></a>
    </li>
  
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
  
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  
  </ul>
  <!-- End of Sidebar -->